In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('EWLI_RawData.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Columns: 460 entries, start to _submitted_by
dtypes: bool(39), datetime64[ns](3), float64(199), int64(37), object(182)
memory usage: 36.6+ MB

##### 1. Basics

In [4]:
#slice basics section from main dataframe
df_basics = df.loc[:, 'start':'a_hh']

In [5]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 34 columns):
start                 11260 non-null object
end                   11260 non-null object
today                 11260 non-null datetime64[ns]
Intro                 0 non-null float64
City                  11260 non-null object
Enumerator            11260 non-null object
enumj_id              0 non-null float64
loc_herat             11260 non-null object
loc_jbad              0 non-null float64
a_basics/a01          11260 non-null object
a_basics/a02          11260 non-null object
a_basics/a03          11260 non-null object
a_basics/a03_other    48 non-null object
b_hh/b01a             11260 non-null int64
b_hh/b01b             11260 non-null int64
b02a                  11260 non-null int64
b02b                  11260 non-null int64
b03a                  11260 non-null int64
/b03b                 11260 non-null int64
b04a                  11260 non-null int64
b04b                  11260 non-null int64
b05a                  11260 non-null int64
b05b                  11260 non-null int64
b06a                  11204 non-null float64
b06b                  11260 non-null int64
hh_male               11260 non-null int64
hh_female             11260 non-null int64
hh_total              11260 non-null int64
hh_eligbilefem        11260 non-null int64
hh_girls              11260 non-null int64
hh_boys               11260 non-null int64
hh_lit_female         11260 non-null int64
hh_lit_male           11260 non-null int64
a_hh                  9908 non-null object
dtypes: datetime64[ns](1), float64(4), int64(19), object(10)
memory usage: 2.9+ MB

In [6]:
# dropping empty columns
df_basics.drop(['Intro', 'enumj_id', 'loc_jbad', 'a_basics/a03_other', 'a_hh'], axis=1, inplace = True)

In [7]:
df_basics['b06a'].isnull().sum()

56

In [8]:
df_basics[df_basics['b06a'].isnull()][['b03a', 'b04a', 'b06a']]

       b03a  b04a  b06a
75        0     0   NaN
288       2     4   NaN
543       0     1   NaN
2238      2     1   NaN
2390      0     1   NaN
2949      0     1   NaN
3307      0     0   NaN
3313      0     2   NaN
3357      2     1   NaN
4118      0     1   NaN
4189      2     1   NaN
4263      1     1   NaN
4275      0     1   NaN
4374      2     1   NaN
4691      1     1   NaN
4696      1     2   NaN
4702      0     1   NaN
5149      0     1   NaN
5155      1     1   NaN
5157      2     1   NaN
5158      2     1   NaN
5160      0     1   NaN
5330      1     3   NaN
5336      0     1   NaN
5338      0     1   NaN
5340      0     5   NaN
5766      3     1   NaN
5797      0     3   NaN
5947      0     4   NaN
5983      1     2   NaN
6374      1     3   NaN
6706      0     1   NaN
6732      0     1   NaN
6739      0     2   NaN
6806      1     1   NaN
6909      1     1   NaN
6978      1     1   NaN
7436      0     1   NaN
7931      1     1   NaN
8001      0     1   NaN
8341      2     2   NaN
8847      2     1   NaN
8857      0     2   NaN
8866      0     2   NaN
9081      0     1   NaN
9082      0     2   NaN
9083      0     1   NaN
9617      0     2   NaN
9644      0     1   NaN
9848      0     3   NaN
9894      1     1   NaN
9900      0     1   NaN
10020     1     2   NaN
10417     1     1   NaN
11104     0     1   NaN
11153     3     1   NaN

In [9]:
# filling NaN values from b06a column with values from b03a column
df_basics.b06a.fillna(df_basics.b03a, inplace=True)

In [10]:
#converting b06a column from float to int
df_basics.b06a = df_basics.b06a.astype('int64')

In [11]:
# drop columns 'start', 'end', 'today', don't need them for future analysis
df_basics.drop(['start', 'end', 'today'], axis = 1, inplace = True)

In [12]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 26 columns):
City              11260 non-null object
Enumerator        11260 non-null object
loc_herat         11260 non-null object
a_basics/a01      11260 non-null object
a_basics/a02      11260 non-null object
a_basics/a03      11260 non-null object
b_hh/b01a         11260 non-null int64
b_hh/b01b         11260 non-null int64
b02a              11260 non-null int64
b02b              11260 non-null int64
b03a              11260 non-null int64
/b03b             11260 non-null int64
b04a              11260 non-null int64
b04b              11260 non-null int64
b05a              11260 non-null int64
b05b              11260 non-null int64
b06a              11260 non-null int64
b06b              11260 non-null int64
hh_male           11260 non-null int64
hh_female         11260 non-null int64
hh_total          11260 non-null int64
hh_eligbilefem    11260 non-null int64
hh_girls          11260 non-null int64
hh_boys           11260 non-null int64
hh_lit_female     11260 non-null int64
hh_lit_male       11260 non-null int64
dtypes: int64(20), object(6)
memory usage: 2.2+ MB

In [13]:
#checking that everything looks good
for column in df_basics.columns:
    print(column, df_basics[column].unique().tolist())

City ['herat', 'jalalabad']
Enumerator ['samira', 'zeinab', 'sakine', 'zohra', 'basira', 'faisal', 'zabihullah', 'sima', 'qasem', 'parza', 'jafar', 'somaya', 'fazladdin', 'masandra', 'bilal ahmad', 'adel khan', 'khangul', 'adela hashmi', 'latifa', 'samiullah', 'nagina', 'farhad', 'bushra', 'jamil', 'arezu', 'najla', 'enum1', 'enum3']
loc_herat ['herat_01', 'herat_02', 'herat_03', 'herat_04', 'herat_05', 'herat_06', 'herat_07', 'herat_08', 'herat_09', 'jbad_01', 'jbad_02', 'herat_10', 'jbad_03', 'herat_11', 'jbad_04', 'herat_12', 'herat_13', 'herat_14', 'jbad_05', 'herat_15', 'jbad_06', 'herat_16', 'herat_17', 'herat_18', 'jbad_07', 'jbad_08', 'jbad_09', 'herat_19', 'herat_20', 'jbad_10', 'jbad_11', 'herat_21', 'jbad_12', 'jbad_13', 'herat_26', 'herat_22', 'herat_23', 'herat_25', 'herat_24', 'herat_27', 'jbad_14', 'jbad_15', 'jbad_16', 'herat_29', 'herat_28', 'jbad_17', 'herat_30', 'herat_31', 'jbad_18', 'herat_32', 'herat_33', 'jbad_19', 'herat_34', 'herat_35', 'jbad_20', 'herat_36', 'herat_37', 'jbad_21', 'herat_38', 'herat_40', 'herat_39', 'jbad_22', 'jbad_23', 'jbad_24', 'jbad_25', 'jbad_27', 'jbad_26', 'jbad_30', 'jbad_28', 'jbad_29', 'jbad_31', 'jbad_32', 'jbad_33', 'jbad_34', 'jbad_35', 'jbad_36', 'jbad_37', 'jbad_38', 'jbad_39', 'jbad_40']
a_basics/a01 ['male', 'female']
a_basics/a02 ['married living with spouse', 'widow', 'engaged', 'not married', 'married not living with spouse', 'divorced']
a_basics/a03 ['tajik', 'hazara', 'pashtun', 'arab', 'uzbeck', 'baloch', 'turkmen', 'other']
b_hh/b01a [0, 1, 2, 5, 4, 10, 3, 8, 6, 11, 7, 22, 12, 33, 32, 13, 21, 23, 34, 30, 17, 15, 41, 20]
b_hh/b01b [0, 1, 2, 3, 4, 6, 8, 5, 9, 18, 7, 10, 13]
b02a [0, 2, 1, 3, 4, 5, 7, 6, 8, 9, 10]
b02b [0, 1, 2, 9, 4, 3, 8, 7, 5, 6, 25, 14, 11]
b03a [1, 0, 2, 3, 4, 5, 8, 6, 7, 11]
/b03b [2, 0, 4, 1, 3, 5, 8, 6, 20, 10, 7, 9]
b04a [2, 3, 7, 4, 1, 0, 8, 5, 6, 10, 32, 9, 13, 17, 11]
b04b [2, 1, 5, 4, 3, 0, 6, 7, 8, 9, 11, 10]
b05a [0, 1, 2, 6, 3, 8, 5, 4, 7]
b05b [0, 1, 3, 2, 8, 4, 7]
b06a [2, 3, 4, 0, 1, 5, 6, 7, 10, 22, 8, 30, 9]
b06b [3, 0, 5, 1, 2, 4, 7, 6, 8, 11, 22, 10]
hh_male [4, 2, 10, 5, 3, 11, 7, 0, 6, 1, 8, 12, 13, 9, 17, 14, 20, 15, 22, 16, 18, 52, 34, 19, 23, 35, 21, 36, 24, 27, 25]
hh_female [3, 7, 5, 4, 2, 6, 1, 10, 13, 0, 12, 8, 16, 18, 9, 11, 34, 14, 15, 19, 17, 20, 26, 24, 39, 36, 28, 30, 33, 41, 21, 25, 35, 37, 40, 49, 48, 22, 23, 32, 31]
hh_total [7, 5, 17, 9, 8, 6, 10, 15, 11, 4, 2, 12, 13, 25, 16, 3, 1, 14, 22, 26, 28, 18, 20, 19, 0, 21, 35, 24, 27, 32, 23, 39, 33, 29, 30, 31, 34, 76, 47, 37, 42, 36, 45, 49, 43, 53, 38, 41, 57, 65, 55, 60, 46, 50, 48, 44]
hh_eligbilefem [3, 7, 4, 2, 1, 6, 5, 0, 9, 10, 8, 33, 11, 13, 12, 20, 15, 14, 16]
hh_girls [1, 0, 2, 3, 4, 5, 7, 6, 9, 8, 10, 11, 15, 13, 18, 12, 17]
hh_boys [2, 0, 4, 1, 10, 3, 8, 5, 6, 7, 9, 14, 12, 25, 11, 15, 20, 13, 16]
hh_lit_female [3, 7, 5, 4, 2, 1, 6, 0, 9, 10, 8, 33, 11, 12, 13, 14, 20, 16, 15, 17]
hh_lit_male [4, 2, 10, 3, 1, 5, 6, 0, 7, 8, 9, 12, 14, 11, 25, 13, 15, 21]

In [14]:
df_basics['Enumerator'] = df_basics['Enumerator'].str.replace(' ', '_')

##### 2. Origin

In [15]:
#slice origin section from main dataframe
df_origin = df.loc[:, 'c_origin/c01':'c_origin/c06_other']

In [16]:
df_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 44 columns):
c_origin/c01                     11260 non-null object
c_origin/c01aa                   7330 non-null object
c_origin/c01ab                   430 non-null object
c_origin/c01ab_other             1 non-null object
c_origin/c01ac                   436 non-null object
c_origin/c01ac_other             13 non-null object
c_origin/c02pre                  10321 non-null object
c_origin/c02pre_other            53 non-null object
c_origin/c02                     10142 non-null object
c_origin/c03                     10085 non-null object
c_origin/c03a                    10101 non-null object
c_origin/c03c                    3881 non-null object
c_origin/c03c_other              44 non-null object
c_origin/c01agroup/c01a          2543 non-null object
c_origin/c01agroup/c01atime      3909 non-null datetime64[ns]
c_origin/c01bgroup/c01b          2524 non-null object
c_origin/c01bgroup/c01btime      3909 non-null datetime64[ns]
c_origin/c01c                    10400 non-null object
c_origin/c01c/pull_close         10400 non-null float64
c_origin/c01c/pull_safe          10400 non-null float64
c_origin/c01c/pull_relatives     10400 non-null float64
c_origin/c01c/pull_jobs          10400 non-null float64
c_origin/c01c/pull_education     10400 non-null float64
c_origin/c01c/pull_health        10400 non-null float64
c_origin/c01c/pull_assistance    10400 non-null float64
c_origin/c01c/pull_leader        10400 non-null float64
c_origin/c01c/pull_gov           10400 non-null float64
c_origin/c01c/other              10400 non-null float64
c_origin/c01c_other              181 non-null object
c_origin/c02a                    10739 non-null object
c_origin/c02b                    484 non-null object
c_origin/c03b                    475 non-null object
c_origin/c04                     10755 non-null object
c_origin/c05                     6833 non-null object
c_origin/c05_other               20 non-null object
c_origin/c06                     137 non-null object
c_origin/c06/why_insecurity      137 non-null float64
c_origin/c06/why_persecution     137 non-null float64
c_origin/c06/why_livelihoods     137 non-null float64
c_origin/c06/why_shelter         137 non-null float64
c_origin/c06/why_land            137 non-null float64
c_origin/c06/why_services        137 non-null float64
c_origin/c06/other               137 non-null float64
c_origin/c06_other               5 non-null object
dtypes: datetime64[ns](2), float64(17), object(25)
memory usage: 3.8+ MB

In [17]:
# dropping columns not identified in baseline_questionnaire 
columns_identified = ['c_origin/c01', 'c_origin/c02', 'c_origin/c03', 'c_origin/c03a', 'c_origin/c01agroup/c01a', 'c_origin/c01agroup/c01atime', 'c_origin/c01bgroup/c01b', 'c_origin/c01bgroup/c01btime', 'c_origin/c01c', 'c_origin/c02a', 'c_origin/c02b', 'c_origin/c03b', 'c_origin/c04']
# creating df_origin_cleaned
df_origin = df_origin[columns_identified]

In [18]:
df_origin.head()

,c_origin/c01,c_origin/c02,c_origin/c03,c_origin/c03a,c_origin/c01agroup/c01a,c_origin/c01agroup/c01atime,c_origin/c01bgroup/c01b,c_origin/c01bgroup/c01btime,c_origin/c01c,c_origin/c02a,c_origin/c02b,c_origin/c03b,c_origin/c04
0,yes,herat,enjil,yndk_y,NaN,NaT,NaN,NaT,pull_relatives,no,NaN,NaN,yes
1,yes,herat,enjil,yndk_y,NaN,NaT,NaN,NaT,pull_relatives,no,NaN,NaN,no
2,yes,herat,enjil,yndk_y,NaN,NaT,NaN,NaT,NaN,no,NaN,NaN,no
3,yes,herat,zendahjan,yndk_y,NaN,NaT,NaN,NaT,NaN,no,NaN,NaN,no
4,yes,herat,enjil,yndk_y,NaN,NaT,NaN,NaT,NaN,no,NaN,NaN,no

In [19]:
# change NaN values to 'no_inf' 
cols_to_change = ['c_origin/c01', 'c_origin/c02', 'c_origin/c03', 'c_origin/c03a', 'c_origin/c01c', 'c_origin/c02a', 'c_origin/c02b', 'c_origin/c03b', 'c_origin/c04']
df_origin.loc[:, cols_to_change] = df_origin[cols_to_change].fillna('no_inf')

In [20]:
# calculating some of NaN values from 'c_origin/c01agroup/c01a' for which 'c_origin/c01agroup/c01atime' is not NaN
df_origin['today'] = df['today']

chunk_dt = df_origin.loc[(df_origin['c_origin/c01agroup/c01atime'].notnull())&(df_origin['c_origin/c01agroup/c01a'].isnull()),['c_origin/c01agroup/c01atime', 'today']]

chunk_dt['res'] = (chunk_dt['today'] - chunk_dt['c_origin/c01agroup/c01atime'])/np.timedelta64(1,'Y')

df_origin.loc[(df_origin['c_origin/c01agroup/c01atime'].notnull())&(df_origin['c_origin/c01agroup/c01a'].isnull()),['c_origin/c01agroup/c01a']] = chunk_dt['res']

In [21]:
def to_loc(x):
    if not isinstance(x,np.float): return x
    if np.isnan(x): return x
    
    if x < 1: return 'loc_1'
    if x > 3: return 'loc_3'
    else: return 'loc_1-3'
    return x
df_origin['c_origin/c01agroup/c01a'] = df_origin['c_origin/c01agroup/c01a'].apply(to_loc)

In [22]:
# dropping columns with dates 
df_origin.drop(['c_origin/c01agroup/c01atime', 'c_origin/c01bgroup/c01btime', 'today'], axis = 1, inplace = True)

In [23]:
# fill the rest of NaN values with 'no_inf' 
df_origin.fillna('no_inf', inplace = True)

In [24]:
df_origin.isnull().any().sum()

0

In [25]:
#df_origin.rename(columns={'c_origin/c01': 'C01. Is your family originally from this city?', 'c_origin/c02': 'C02. Which province are you from?', 'c_origin/c03': 'C03. Which district in C02?', 'c_origin/c03a': 'C03a. Do you still have family members living in C03?', 'c_origin/c01agroup/c01a': 'C01a. When did you displace from your place of origin?', 'c_origin/c01bgroup/c01b': 'C01b. Since when are you living in the present location?', 'c_origin/c01c': 'C01c. What were the main reasons for choosing to settle in city?', 'c_origin/c02a': 'C02a. Have you been living in another district/province other than your place of origin before you came to city?', 'c_origin/c02b': 'C02b. In which province have you lived before you came to city?', 'c_origin/c03b': 'C03b. Which district in C02b?', 'c_origin/c04': 'C04. Have you lived abroad before moving to city?'}, inplace = True)

In [26]:
# cleaned
df_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 11 columns):
c_origin/c01               11260 non-null object
c_origin/c02               11260 non-null object
c_origin/c03               11260 non-null object
c_origin/c03a              11260 non-null object
c_origin/c01agroup/c01a    11260 non-null object
c_origin/c01bgroup/c01b    11260 non-null object
c_origin/c01c              11260 non-null object
c_origin/c02a              11260 non-null object
c_origin/c02b              11260 non-null object
c_origin/c03b              11260 non-null object
c_origin/c04               11260 non-null object
dtypes: object(11)
memory usage: 967.7+ KB

In [27]:
#checking that everything looks good
for column in df_origin.columns:
    print(column, df_origin[column].unique().tolist())

c_origin/c01 ['yes', 'no']
c_origin/c02 ['herat', 'badghis', 'no_inf', 'farah', 'paktya', 'kandahar', 'faryab', 'kabul', 'sar-i-pul', 'kunduz', 'ghazni', 'nimroz', 'helmand', 'jawzjan', 'baghlan', 'laghman', 'bamyan', 'badakhshan', 'balkh', 'paktika', 'kunar', 'ghor', 'panjsher', 'parwan', 'nangarhar', 'nooristan', 'zabul', 'logar', 'khost', 'wardak', 'daykundi', 'urozgan', 'samangan', 'kapisa', 'takhar']
c_origin/c03 ['enjil', 'zendahjan', 'badghiscenter', 'no_inf', 'guzera', 'heratcenter', 'shindand', 'karrukh', 'farahcenter', 'obe', 'ghoryan', 'kushk', 'pashtunzarghun', 'murghab', 'paktyacenter', 'samkani', 'arghistan', 'kohistan', 'paghman', 'kushkekuhna', 'chaharasyab', 'estalef', 'anardara', 'kohsan', 'qadis', 'qaisar', 'pushtrud', 'kabulcenter', 'kandaharcenter', 'bilchiragh', 'ghorak', 'gulran', 'shahwalikot', 'kohistanat', 'khanabad', 'ajristan', 'maiwand', 'khasdhrif', 'helmandcenter', 'adraskan', 'khak-e-safed', 'nawzad', 'fersi', 'faizabad', 'baghlancenter', 'alishing', 'bamyancenter', 'shahribuyurg', 'purchaman', 'pashtunkot', 'chishtisharif', 'dand', 'abkamari', 'ghaznicenter', 'gulistan', 'shakardara', 'abband', 'almar', 'balkhcenter', 'jaghuri', 'paktikacenter', 'mirbachakot', 'nimrozcenter', 'ghazi', 'dehsabz', 'alingar', 'farza', 'nahrishahi', 'tulak', 'jawand', 'panshercenter', 'zari', 'qala-e-kah', 'jabulussaraj', 'bakwa', 'chimtal', 'batikor', 'muqur', 'andkhoy', 'ghormach', 'bargimatal', 'aliabad', 'shahjoi', 'logarcenter', 'shibkoh', 'kama', 'dawlatshah', 'surkhrud', 'dehbala', 'chaparhar', 'khugyani', 'hesarak', 'qarghayee', 'laghmancenter', 'daraenoor', 'goshta', 'rodat', 'nangarharcenter', 'jaji', 'kuzkunar', 'pachirwagam', 'lajamangel', 'chapadara', 'behsud', 'lalpoor', 'noorgal', 'kunar', 'shinwar', 'sherzad', 'khwajasabzposh', 'bagrami', 'tirzayee', 'kot', 'yakawlang', 'jaghatu', 'mumanddara', 'khaskunar', 'shebar', 'saripulcenter', 'watapoor', 'sayyidabad', 'ahmadaba', 'parwancenter', 'narangwabadil', 'barakibarak', 'matakhan', 'gelan', 'khwajaomari', 'guldara', 'mohammadagha', 'kharwar', 'chinarto', 'jalrez', 'qarabagh', 'lash-e-juwayn', 'faryab center', 'sawkai', 'mandol', 'duleena', 'kalakan', 'ghorcenter', 'tagab', 'daraepech', 'nazyan', 'achin', 'azra', 'kapisacenter', 'shigalwasheltan', 'wuzazadran', 'sarkani', 'surubi', 'waygal', 'nari', 'khakejabar', 'kahmard', 'baghlan-e-jadeed', 'pasaband', 'charbolak', 'barkunar', 'dangam', 'nawa', 'waras', 'balkhdis', 'sirkhiparsa', 'abshar', 'charburjak', 'jawzjancenter', 'sayyidkhel', 'musaqala', 'hazratiimamsahib', 'farkhar', 'arghandab', 'marmul', 'balabuluk', 'durbala', 'marawara', 'kamdesh', 'hissaeawal', 'zurmat', 'kunduzcenter', 'nawur', 'panjab', 'dawlatyar', 'lalwasarjangal', 'malistan', 'walimshahid', 'wardakcenter', 'giro', 'takhatpul', 'sang-e-takht', 'baghran', 'daykundicenter', 'khasurozgan', 'kejran', 'khedir', 'saighan', 'gizab', 'shahidhassas', 'ishterlai', 'markazebehsund', 'chakewardak', 'hissaeawali', 'chahardarah', 'shahristan', 'daraesoofepayin', 'gosfandi', 'nerkh', 'hissaeawalibehsud', 'dehraoud', 'nijrab', 'dehdadi', 'charkh', 'talawabarfak', 'jaghtu', 'dashtearchi', 'garmser', 'janikhel', 'aslechakhansur', 'badpash', 'dushi']
c_origin/c03a ['yndk_y', 'no_inf', 'yndk_n', 'yndk_dk']
c_origin/c01agroup/c01a ['no_inf', 'loc_1', 'loc_3', 'loc_1-3']
c_origin/c01bgroup/c01b ['no_inf', 'loc_1-3', 'loc_3', 'loc_1']
c_origin/c01c ['pull_relatives', 'no_inf', 'pull_jobs pull_education pull_health', 'pull_jobs', 'other', 'pull_jobs pull_education', 'pull_close', 'pull_education pull_health', 'pull_safe pull_jobs pull_education', 'pull_safe pull_relatives pull_jobs pull_education pull_health', 'pull_safe pull_jobs pull_education pull_leader', 'pull_safe pull_jobs pull_education pull_health', 'pull_safe pull_relatives pull_education pull_health', 'pull_relatives pull_jobs', 'pull_safe pull_jobs', 'pull_education', 'pull_safe pull_jobs pull_health', 'pull_safe', 'pull_safe pull_education pull_assistance', 'pull_safe pull_relatives', 'pull_relatives pull_jobs pull_education', 'pull_relatives pull_jobs pull_education pull_health', 'pull_close pull_relatives pull_jobs', 'pull_close pull_safe pull_relatives pull_education', 'pull_close pull_safe', 'pull_relatives pull_education pull_health', 'pull_safe pull_jobs pull_education pull_assistance', 'pull_safe pull_leader', 'pull_relatives pull_jobs pull_health', 'pull_safe pull_relatives pull_jobs', 'pull_safe pull_education pull_health', 'pull_safe pull_relatives pull_jobs pull_education pull_assistance', 'pull_jobs pull_education pull_health pull_assistance', 'pull_relatives pull_jobs pull_education pull_assistance', 'pull_safe pull_relatives pull_jobs pull_education', 'pull_relatives pull_jobs pull_education pull_health pull_leader', 'pull_safe pull_relatives pull_health', 'pull_safe pull_jobs pull_health pull_assistance', 'pull_safe pull_relatives pull_education', 'pull_close pull_safe pull_jobs', 'pull_close pull_relatives', 'pull_relatives pull_education', 'pull_relatives pull_jobs pull_education pull_health pull_assistance', 'pull_close pull_safe pull_relatives pull_jobs', 'pull_jobs pull_health', 'pull_close pull_relatives pull_education', 'pull_close pull_safe pull_relatives', 'pull_close pull_relatives pull_jobs pull_education', 'pull_close pull_relatives pull_jobs pull_health', 'pull_safe pull_relatives pull_jobs pull_education pull_health pull_assistance', 'pull_safe pull_jobs pull_assistance', 'pull_close pull_safe pull_education pull_health', 'pull_safe pull_relatives pull_jobs pull_education pull_health pull_assistance pull_leader', 'pull_jobs pull_education pull_assistance', 'pull_close pull_safe pull_education', 'pull_safe pull_relatives pull_jobs pull_education pull_health pull_leader pull_gov', 'pull_assistance pull_leader', 'pull_close pull_safe pull_relatives pull_jobs pull_education', 'pull_close pull_safe pull_relatives pull_jobs pull_education pull_health', 'pull_close pull_safe pull_jobs pull_education', 'pull_close pull_relatives pull_education pull_health', 'pull_safe pull_jobs pull_leader', 'pull_close pull_education', 'pull_relatives pull_gov', 'pull_safe pull_relatives pull_jobs pull_leader', 'pull_close pull_safe pull_relatives pull_education pull_health', 'pull_close pull_jobs pull_education', 'pull_close pull_safe pull_jobs pull_health pull_assistance', 'pull_close pull_safe pull_jobs pull_education pull_health', 'pull_jobs pull_education pull_health pull_leader', 'pull_education pull_health pull_assistance', 'pull_safe pull_gov', 'pull_safe pull_education', 'pull_close pull_safe pull_health', 'pull_relatives pull_health pull_assistance', 'pull_assistance', 'pull_safe pull_health', 'pull_close pull_jobs pull_health', 'pull_safe pull_assistance', 'pull_safe pull_education pull_health pull_gov', 'pull_safe pull_education pull_health pull_assistance', 'pull_safe pull_jobs pull_gov', 'pull_close pull_safe pull_jobs pull_health', 'pull_jobs pull_health pull_assistance', 'pull_close pull_relatives pull_jobs pull_assistance', 'pull_jobs pull_education pull_assistance pull_leader', 'pull_close pull_jobs pull_education pull_health', 'pull_close pull_jobs pull_health pull_assistance', 'pull_relatives pull_education pull_assistance', 'pull_relatives pull_education pull_health pull_assistance', 'pull_close pull_relatives pull_jobs pull_education pull_health', 'pull_relatives pull_jobs pull_health pull_assistance', 'pull_safe pull_assistance pull_leader', 'pull_close pull_education pull_assistance', 'pull_health', 'pull_education pull_assistance', 'pull_close pull_safe pull_relatives pull_jobs pull_health', 'pull_close pull_jobs', 'pull_close pull_jobs pull_assistance', 'pull_close pull_safe pull_relatives pull_health', 'pull_safe pull_relatives pull_jobs pull_health', 'pull_jobs pull_assistance', 'pull_close pull_safe pull_jobs pull_education pull_assistance', 'pull_close pull_safe pull_assistance', 'pull_relatives other', 'pull_relatives pull_assistance', 'pull_close pull_safe pull_education pull_assistance', 'pull_close pull_jobs pull_education pull_assistance', 'pull_safe pull_relatives pull_assistance', 'pull_safe pull_health pull_assistance', 'pull_close pull_relatives pull_health', 'pull_relatives pull_jobs pull_assistance', 'pull_close pull_education pull_health', 'pull_safe pull_jobs pull_education pull_health pull_assistance', 'pull_leader', 'pull_close pull_assistance', 'pull_safe pull_relatives pull_education pull_health pull_assistance', 'pull_close pull_relatives pull_jobs pull_education pull_health pull_assistance', 'pull_relatives pull_health', 'pull_safe pull_relatives pull_education pull_assistance', 'pull_assistance pull_gov', 'pull_close pull_safe pull_gov', 'pull_close pull_safe pull_education pull_gov', 'pull_safe pull_education pull_assistance pull_gov', 'pull_close pull_safe pull_education pull_health pull_assistance', 'pull_safe pull_relatives pull_education pull_health pull_leader', 'pull_safe pull_health pull_assistance pull_leader', 'pull_safe pull_jobs pull_education pull_health pull_leader', 'pull_safe pull_health pull_gov', 'pull_close pull_relatives pull_health pull_assistance', 'pull_safe pull_relatives pull_jobs pull_assistance', 'pull_close pull_safe pull_education pull_health pull_leader', 'pull_close pull_safe pull_relatives pull_jobs pull_education pull_health pull_assistance', 'pull_close pull_relatives pull_education pull_assistance', 'pull_safe pull_education pull_assistance pull_leader', 'pull_close pull_relatives pull_assistance', 'pull_safe pull_relatives pull_jobs pull_health pull_assistance', 'pull_relatives pull_jobs pull_health pull_leader', 'pull_close pull_safe pull_jobs pull_education pull_health pull_leader', 'pull_close pull_safe pull_relatives pull_jobs pull_education pull_assistance', 'pull_close pull_relatives pull_jobs pull_health pull_assistance', 'pull_safe pull_education pull_leader', 'pull_safe pull_relatives pull_health pull_assistance pull_leader', 'pull_relatives pull_education pull_health pull_leader', 'pull_safe pull_relatives pull_jobs pull_health pull_leader', 'pull_close pull_relatives pull_jobs pull_education pull_assistance', 'pull_safe pull_relatives pull_jobs pull_education pull_health pull_assistance pull_leader pull_gov', 'pull_close pull_safe pull_relatives pull_jobs pull_education pull_health pull_assistance pull_leader', 'pull_safe pull_education pull_health pull_assistance pull_leader', 'pull_safe pull_jobs pull_health pull_leader', 'pull_jobs pull_education pull_gov', 'pull_safe pull_relatives pull_health pull_assistance', 'pull_gov', 'pull_safe pull_relatives pull_gov', 'pull_safe pull_relatives pull_leader', 'pull_health pull_assistance', 'pull_safe pull_relatives pull_jobs pull_health pull_assistance pull_leader', 'pull_safe pull_relatives pull_assistance pull_leader']
c_origin/c02a ['no', 'no_inf', 'yes']
c_origin/c02b ['no_inf', 'kabul', 'paktika', 'herat', 'jawzjan', 'badghis', 'balkh', 'farah', 'helmand', 'faryab', 'kandahar', 'laghman', 'nangarhar', 'parwan', 'kunduz', 'badakhshan', 'logar', 'nimroz', 'ghor', 'wardak', 'kunar', 'zabul', 'takhar', 'baghlan', 'panjsher', 'samangan', 'ghazni', 'kapisa']
c_origin/c03b ['no_inf', 'kabulcenter', 'paktikacenter', 'enjil', 'khanaqa', 'gulran', 'murghab', 'balkhcenter', 'badghiscenter', 'obe', 'zendahjan', 'anardara', 'ghoryan', 'khak-e-safed', 'nadali', 'shindand', 'pashtunzarghun', 'shahwalikot', 'kandaharcenter', 'laghmancenter', 'surkhrud', 'parwancenter', 'bagrami', 'khugyani', 'khanabad', 'kunduzcenter', 'qarghayee', 'nangarharcenter', 'kuzkunar', 'lalpoor', 'pachirwagam', 'kama', 'kohistan', 'chaparhar', 'alishing', 'kalakan', 'kot', 'spinboldak', 'shinwar', 'baghran', 'chaharasyab', 'kohsan', 'daraenoor', 'barakibarak', 'nimrozcenter', 'farahcenter', 'guzera', 'batikor', 'ghorcenter', 'behsud', 'azra', 'kushk', 'rodat', 'hesarak', 'pashtunkot', 'sayyidabad', 'dehbala', 'daraepech', 'zabulcenter', 'farkhar', 'baghlan-e-jadeed', 'mumanddara', 'logarcenter', 'durbala', 'chapadara', 'sawkai', 'panshercenter', 'surubi', 'dehsabz', 'janikhel', 'jaghuri', 'achin', 'alingar', 'tagab', 'goshta', 'paghman', 'kunar', 'faryab center', 'sherzad', 'khaskunar', 'sarkani', 'shigalwasheltan', 'nari', 'watapoor', 'hissaeawali', 'chahardarah', 'aliabad', 'narangwabadil', 'barkunar']
c_origin/c04 ['yes', 'no', 'no_inf']

##### 3. Displacement

In [28]:
#slice displacement section from main dataframe
df_displacement = df.loc[:, 'd_idps/d01':'d_idps/d08_other']

In [29]:
df_displacement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 87 columns):
d_idps/d01                      3420 non-null object
d_idps/d01/dis_armed            3420 non-null float64
d_idps/d01/dis_military         3420 non-null float64
d_idps/d01/dis_intimidation     3420 non-null float64
d_idps/d01/dis_tribal           3420 non-null float64
d_idps/d01/dis_land             3420 non-null float64
d_idps/d01/dis_feud             3420 non-null float64
d_idps/d01/dis_mines            3420 non-null float64
d_idps/d01/dis_shelling         3420 non-null float64
d_idps/d01/dis_naturaldis       3420 non-null float64
d_idps/d01/dis_economic         3420 non-null float64
d_idps/d01/other                3420 non-null float64
d_idps/d01_other                38 non-null object
d_idps/d02                      101 non-null object
d_idps/d02/inti_gov             101 non-null float64
d_idps/d02/inti_children        101 non-null float64
d_idps/d02/inti_recruitment     101 non-null float64
d_idps/d02/inti_persons         101 non-null float64
d_idps/d02/inti_gbv             101 non-null float64
d_idps/d02/inti_taxation        101 non-null float64
d_idps/d02/other                101 non-null float64
d_idps/d02_other                2 non-null object
d_idps/d03                      3116 non-null object
d_idps/d03/per_gov              3116 non-null float64
d_idps/d03/per_forces           3116 non-null float64
d_idps/d03/per_nong             3116 non-null float64
d_idps/d03/per_community        3116 non-null float64
d_idps/d03/per_criminal         3116 non-null float64
d_idps/d03/other                3116 non-null float64
d_idps/d03_other                994 non-null object
d_idps/d03a                     222 non-null object
d_idps/d03a/gov_ana             222 non-null float64
d_idps/d03a/gov_anp             222 non-null float64
d_idps/d03a/gov_civil           222 non-null float64
d_idps/d03a/gov_alp             222 non-null float64
d_idps/d03a/other               222 non-null float64
d_idps/d03a_other               4 non-null object
d_idps/d03b                     972 non-null object
d_idps/d03b/forces_coalition    972 non-null float64
d_idps/d03b/forces_other        972 non-null float64
d_idps/d03b/other               972 non-null float64
d_idps/d03b_other               6 non-null object
d_idps/d03c                     623 non-null object
d_idps/d03c/armed_age           623 non-null float64
d_idps/d03c/armed_local         623 non-null float64
d_idps/d03c/other               623 non-null float64
d_idps/d03c_other               0 non-null float64
d_idps/d03d                     165 non-null object
d_idps/d03d/comm_religious      165 non-null float64
d_idps/d03d/comm_elder          165 non-null float64
d_idps/d03d/comm_landlord       165 non-null float64
d_idps/d03d/other               165 non-null float64
d_idps/d03d_other               7 non-null object
d_idps/d04                      3552 non-null object
d_idps/d04a                     773 non-null object
d_idps/d04a/ev_rent             773 non-null float64
d_idps/d04a/ev_pressure         773 non-null float64
d_idps/d04a/ev_owner            773 non-null float64
d_idps/d04a/ev_doc              773 non-null float64
d_idps/d04a/ev_return           773 non-null float64
d_idps/d04a/ev_court            773 non-null float64
d_idps/d04a/ev_shura            773 non-null float64
d_idps/d04a/other               773 non-null float64
d_idps/d04a_other               16 non-null object
d_idps/d05                      3522 non-null object
d_idps/d05_other                5 non-null object
d_idps/d05a                     112 non-null object
d_idps/d06                      3562 non-null object
d_idps/d06/rr_stay              3562 non-null float64
d_idps/d06/rr_security          3562 non-null float64
d_idps/d06/rr_services          3562 non-null float64
d_idps/d06/rr_housing           3562 non-null float64
d_idps/d06/rr_relatives         3562 non-null float64
d_idps/d06/rr_jobs              3562 non-null float64
d_idps/d06/rr_disaster          3562 non-null float64
d_idps/d06/rr_conflict          3562 non-null float64
d_idps/d06/rr_assistance        3562 non-null float64
d_idps/d07                      3564 non-null object
d_idps/d08                      1340 non-null object
d_idps/d08/inte_land            1340 non-null float64
d_idps/d08/inte_school          1340 non-null float64
d_idps/d08/inte_job             1340 non-null float64
d_idps/d08/inte_serivces        1340 non-null float64
d_idps/d08/inte_hostile         1340 non-null float64
d_idps/d08/inte_gov             1340 non-null float64
d_idps/d08/other                1340 non-null float64
d_idps/d08_other                7 non-null object
dtypes: float64(64), object(23)
memory usage: 7.5+ MB

In [30]:
#colNames = df_displacement.columns[df_displacement.columns.str.contains(pat = '_other')]

In [31]:
df_displacement = df_displacement.loc[:,['d_idps/d01', 'd_idps/d02', 'd_idps/d03', 'd_idps/d03a', 'd_idps/d03b', 'd_idps/d03c', 'd_idps/d03d', 'd_idps/d04', 'd_idps/d04a', 'd_idps/d05', 'd_idps/d05a', 'd_idps/d06', 'd_idps/d07',
       'd_idps/d08']]

In [32]:
df_displacement.fillna('no_inf', inplace = True)

In [33]:
# for people who don't change their place of origin checking if there any not NaN values in 'reasons for displacement' column
# df.loc[(df['c_origin/c01']=='no')&df['d_idps/d01'].isnull(), ['c_origin/c01', 'd_idps/d01']]

In [34]:
df_displacement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 14 columns):
d_idps/d01     11260 non-null object
d_idps/d02     11260 non-null object
d_idps/d03     11260 non-null object
d_idps/d03a    11260 non-null object
d_idps/d03b    11260 non-null object
d_idps/d03c    11260 non-null object
d_idps/d03d    11260 non-null object
d_idps/d04     11260 non-null object
d_idps/d04a    11260 non-null object
d_idps/d05     11260 non-null object
d_idps/d05a    11260 non-null object
d_idps/d06     11260 non-null object
d_idps/d07     11260 non-null object
d_idps/d08     11260 non-null object
dtypes: object(14)
memory usage: 1.2+ MB

In [35]:
#checking that everything looks good
for column in df_displacement.columns:
    print(column, df_displacement[column].unique().tolist())

d_idps/d01 ['no_inf', 'dis_armed dis_mines', 'dis_economic', 'dis_military', 'dis_naturaldis', 'dis_tribal dis_economic', 'dis_mines', 'dis_armed dis_military dis_intimidation dis_mines dis_economic', 'dis_armed dis_economic', 'dis_land', 'other', 'dis_mines dis_shelling', 'dis_mines dis_economic', 'dis_armed dis_tribal', 'dis_armed', 'dis_naturaldis dis_economic', 'dis_tribal', 'dis_armed dis_naturaldis', 'dis_feud dis_shelling', 'dis_military dis_economic', 'dis_mines dis_naturaldis', 'dis_mines dis_shelling dis_naturaldis', 'dis_armed dis_military', 'dis_shelling dis_economic', 'dis_mines dis_naturaldis dis_economic', 'dis_military dis_naturaldis dis_economic', 'dis_intimidation dis_economic', 'dis_armed dis_naturaldis dis_economic', 'dis_feud dis_economic', 'dis_intimidation', 'dis_military dis_intimidation', 'dis_armed dis_military dis_economic', 'dis_armed dis_intimidation dis_feud', 'dis_armed dis_intimidation', 'dis_armed dis_military dis_shelling dis_naturaldis', 'dis_military dis_shelling', 'dis_armed dis_military dis_tribal', 'dis_armed dis_tribal dis_economic', 'dis_armed dis_military dis_intimidation', 'dis_armed dis_intimidation dis_feud dis_economic', 'dis_shelling', 'dis_armed dis_intimidation dis_shelling', 'dis_land dis_economic', 'dis_armed dis_intimidation dis_naturaldis dis_economic', 'dis_military dis_land', 'dis_armed dis_intimidation dis_tribal dis_naturaldis dis_economic', 'dis_armed dis_military dis_intimidation dis_economic', 'dis_armed dis_intimidation dis_economic', 'dis_armed dis_military dis_intimidation dis_shelling dis_naturaldis dis_economic', 'dis_intimidation dis_tribal', 'dis_feud', 'dis_economic other', 'dis_military dis_intimidation dis_tribal', 'dis_armed other', 'dis_military dis_tribal', 'dis_military dis_intimidation dis_tribal dis_land', 'dis_armed dis_military dis_intimidation dis_tribal dis_land', 'dis_armed dis_military dis_intimidation dis_tribal', 'dis_tribal dis_land', 'dis_intimidation dis_feud', 'dis_armed dis_land', 'dis_armed dis_military dis_mines', 'dis_intimidation dis_land', 'dis_military dis_intimidation dis_mines', 'dis_intimidation dis_tribal dis_land']
d_idps/d02 ['no_inf', 'inti_gov', 'inti_children inti_recruitment', 'inti_children', 'inti_gov inti_gbv', 'inti_taxation', 'inti_recruitment', 'inti_children inti_recruitment inti_taxation', 'inti_gbv', 'inti_gov inti_persons inti_gbv', 'inti_persons inti_gbv inti_taxation', 'inti_recruitment inti_gbv', 'inti_recruitment inti_taxation', 'inti_recruitment inti_persons inti_gbv inti_taxation', 'inti_children inti_persons', 'inti_persons', 'inti_children inti_persons inti_taxation', 'inti_persons inti_gbv', 'inti_gov inti_children', 'inti_gov inti_taxation', 'other', 'inti_children inti_gbv', 'inti_children inti_recruitment inti_persons', 'inti_gov inti_children inti_recruitment inti_persons', 'inti_gov inti_children inti_recruitment', 'inti_recruitment inti_persons', 'inti_gov inti_recruitment', 'inti_gov inti_children inti_persons', 'inti_gov inti_children inti_recruitment inti_persons inti_gbv']
d_idps/d03 ['no_inf', 'per_nong', 'per_community', 'per_forces', 'per_criminal', 'other', 'per_gov', 'per_community per_criminal', 'per_forces per_community', 'per_nong per_community', 'per_gov per_forces', 'per_nong per_criminal', 'per_forces per_nong', 'per_forces per_criminal', 'per_gov per_nong', 'per_gov other', 'per_gov per_forces per_nong per_community per_criminal', 'per_criminal other', 'per_gov per_forces per_criminal', 'per_forces per_nong per_criminal', 'per_gov per_forces per_nong', 'per_gov per_forces per_nong per_community', 'per_gov per_criminal', 'per_forces per_nong per_community per_criminal', 'per_gov per_forces per_community', 'per_gov per_community', 'per_gov per_forces per_community per_criminal', 'per_forces per_nong per_community']
d_idps/d03a ['no_inf', 'gov_alp', 'other', 'gov_anp', 'gov_ana gov_anp', 'gov_civil', 'gov_ana gov_anp gov_civil', 'gov_ana other', 'gov_ana', 'gov_ana gov_civil', 'gov_civil gov_alp', 'gov_ana gov_anp gov_civil gov_alp', 'gov_anp gov_civil', 'gov_anp gov_civil gov_alp']
d_idps/d03b ['no_inf', 'forces_other', 'forces_coalition', 'forces_coalition forces_other', 'other']
d_idps/d03c ['no_inf', 'armed_age', 'armed_local', 'armed_age armed_local']
d_idps/d03d ['no_inf', 'comm_landlord', 'other', 'comm_elder', 'comm_religious', 'comm_religious comm_elder', 'comm_religious comm_elder comm_landlord', 'comm_elder comm_landlord']
d_idps/d04 ['no_inf', 'yndk_y', 'yndk_n', 'yndk_dk']
d_idps/d04a ['no_inf', 'ev_rent', 'ev_return', 'ev_pressure ev_owner ev_shura', 'other', 'ev_shura', 'ev_pressure ev_owner', 'ev_doc', 'ev_pressure', 'ev_pressure ev_return', 'ev_owner', 'ev_pressure ev_shura']
d_idps/d05 ['no_inf', 'fut_stay', 'fut_move', 'other', 'fut_return']
d_idps/d05a ['no_inf', 'return_12', 'return_dk', 'return_6', 'return_6-12']
d_idps/d06 ['no_inf', 'rr_stay', 'rr_security', 'rr_stay rr_housing', 'rr_housing rr_jobs rr_conflict rr_assistance', 'rr_housing rr_jobs', 'rr_stay rr_security rr_relatives', 'rr_stay rr_relatives rr_jobs rr_conflict', 'rr_stay rr_security', 'rr_housing', 'rr_jobs', 'rr_security rr_services', 'rr_stay rr_security rr_services rr_housing', 'rr_security rr_services rr_housing rr_jobs', 'rr_assistance', 'rr_housing rr_disaster', 'rr_relatives rr_jobs', 'rr_security rr_housing', 'rr_services rr_housing rr_relatives rr_jobs', 'rr_security rr_jobs', 'rr_conflict', 'rr_stay rr_jobs', 'rr_stay rr_relatives rr_conflict', 'rr_stay rr_conflict', 'rr_stay rr_relatives', 'rr_stay rr_jobs rr_conflict', 'rr_stay rr_relatives rr_jobs', 'rr_security rr_housing rr_relatives rr_jobs', 'rr_housing rr_relatives rr_jobs rr_disaster rr_conflict', 'rr_relatives rr_conflict', 'rr_stay rr_relatives rr_disaster rr_conflict', 'rr_housing rr_conflict', 'rr_security rr_relatives', 'rr_housing rr_relatives', 'rr_stay rr_disaster', 'rr_services rr_housing rr_jobs', 'rr_security rr_services rr_relatives', 'rr_services rr_relatives rr_jobs', 'rr_security rr_jobs rr_conflict', 'rr_security rr_services rr_housing', 'rr_conflict rr_assistance', 'rr_security rr_housing rr_conflict', 'rr_disaster', 'rr_security rr_services rr_conflict', 'rr_security rr_conflict', 'rr_services', 'rr_security rr_services rr_housing rr_jobs rr_conflict', 'rr_security rr_services rr_housing rr_relatives rr_conflict', 'rr_security rr_services rr_housing rr_relatives rr_jobs rr_conflict', 'rr_security rr_services rr_housing rr_relatives rr_jobs rr_assistance', 'rr_security rr_services rr_conflict rr_assistance', 'rr_security rr_services rr_disaster rr_assistance', 'rr_services rr_relatives rr_conflict', 'rr_security rr_relatives rr_conflict', 'rr_security rr_housing rr_jobs rr_conflict', 'rr_security rr_jobs rr_assistance', 'rr_security rr_services rr_housing rr_relatives rr_jobs rr_conflict rr_assistance', 'rr_security rr_housing rr_relatives rr_conflict', 'rr_security rr_services rr_housing rr_jobs rr_assistance', 'rr_stay rr_security rr_services', 'rr_relatives', 'rr_security rr_conflict rr_assistance', 'rr_security rr_housing rr_relatives rr_assistance', 'rr_housing rr_relatives rr_jobs', 'rr_services rr_housing rr_relatives', 'rr_stay rr_services rr_relatives', 'rr_services rr_disaster', 'rr_services rr_jobs', 'rr_stay rr_services', 'rr_services rr_conflict', 'rr_jobs rr_assistance', 'rr_security rr_services rr_housing rr_relatives rr_jobs', 'rr_security rr_disaster', 'rr_security rr_services rr_jobs', 'rr_stay rr_services rr_housing', 'rr_stay rr_security rr_housing rr_disaster', 'rr_services rr_relatives', 'rr_services rr_housing', 'rr_security rr_housing rr_jobs']
d_idps/d07 ['no_inf', 'no', 'yes']
d_idps/d08 ['no_inf', 'inte_job', 'inte_land inte_job', 'inte_land inte_job inte_serivces inte_gov', 'inte_job inte_serivces', 'inte_school inte_job', 'inte_land', 'inte_hostile', 'inte_land inte_hostile', 'inte_school inte_job inte_serivces', 'inte_land inte_school inte_job', 'inte_school inte_serivces inte_hostile', 'inte_land inte_school', 'inte_land inte_job inte_serivces', 'other', 'inte_job inte_serivces inte_hostile inte_gov other', 'inte_job inte_serivces inte_hostile', 'inte_gov', 'inte_job inte_gov', 'inte_school inte_job inte_gov', 'inte_job inte_serivces inte_gov', 'inte_job inte_serivces inte_hostile inte_gov', 'inte_job inte_hostile inte_gov', 'inte_serivces', 'inte_school', 'inte_job inte_hostile', 'inte_land inte_job inte_gov', 'inte_land inte_gov', 'inte_land inte_job inte_hostile inte_gov', 'inte_job other', 'inte_hostile inte_gov', 'inte_school inte_hostile inte_gov', 'inte_land inte_serivces', 'inte_serivces inte_hostile inte_gov', 'inte_school inte_serivces', 'inte_serivces inte_hostile', 'inte_land inte_school inte_job inte_serivces inte_hostile inte_gov', 'inte_land inte_job inte_hostile', 'inte_land inte_school inte_serivces', 'inte_school inte_job inte_hostile', 'inte_land inte_school inte_job inte_serivces', 'inte_serivces inte_gov', 'inte_school inte_job inte_serivces inte_hostile', 'inte_land inte_job inte_serivces inte_hostile inte_gov', 'inte_land inte_job inte_serivces inte_hostile']

##### 4. Food access

In [36]:
df_food = df.loc[:, 'e_food/e_fcs/e_fcs_intro':'e_food/e35_other']

In [37]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 52 columns):
e_food/e_fcs/e_fcs_intro    0 non-null float64
e_food/e_fcs/e01            11260 non-null int64
e_food/e_fcs/e02            11260 non-null int64
e_food/e_fcs/e03            11260 non-null int64
e_food/e_fcs/e04            11260 non-null int64
e_food/e_fcs/e05            11260 non-null int64
e_food/e_fcs/e06            11260 non-null int64
e_food/e_fcs/e07            11260 non-null int64
e_food/e_fcs/e08            11260 non-null int64
e_food/e_fcs/e09            11260 non-null int64
e_food/e_hdds/e_hdds_lab    0 non-null float64
e_food/e_hdds/e10           11260 non-null object
e_food/e_hdds/e11           11260 non-null object
e_food/e_hdds/e12           11260 non-null object
e_food/e_hdds/e13           11260 non-null object
e_food/e_hdds/e14           11260 non-null object
e_food/e_hdds/e15           11260 non-null object
e_food/e_hdds/e16           11260 non-null object
e_food/e_hdds/e17           11260 non-null object
e_food/e_hdds/e18           11260 non-null object
e_food/e_hdds/e19           11260 non-null object
e_food/e_hdds/e20           11260 non-null object
e_food/e_hdds/e21           11260 non-null object
e_food/e_hdds/e22           11260 non-null object
e_food/e_hdds/e23           11260 non-null object
e_food/e_hdds/e24           11260 non-null object
0                           11260 non-null object
e_food/e_hfias/e25a         6812 non-null object
e_food/e_hfias/e26          11260 non-null object
e_food/e_hfias/e26a         6877 non-null object
e_food/e_hfias/e27          11260 non-null object
e_food/e_hfias/e27a         6572 non-null object
e_food/e_hfias/e28          11260 non-null object
e_food/e_hfias/e28a         6952 non-null object
e_food/e_hfias/e29          11260 non-null object
e_food/e_hfias/e29a         5321 non-null object
e_food/e_hfias/e30          11260 non-null object
e_food/e_hfias/e30a         4689 non-null object
e_food/e_hfias/e31          11260 non-null object
e_food/e_hfias/e31a         3411 non-null object
e_food/e_hfias/e32          11260 non-null object
e_food/e_hfias/e32a         2968 non-null object
e_food/e_hfias/e33          11260 non-null object
e_food/e_hfias/e33a         2648 non-null object
e_food/e34                  11260 non-null object
e_food/e34_other            25 non-null object
e_food/e35                  11260 non-null object
e_food/e35/food_taste       11260 non-null bool
e_food/e35/food_price       11260 non-null bool
e_food/e35/food_health      11260 non-null bool
e_food/e35/other            11260 non-null bool
e_food/e35_other            3 non-null object
dtypes: bool(4), float64(2), int64(9), object(37)
memory usage: 4.2+ MB

In [38]:
df_food.head()

,e_food/e_fcs/e_fcs_intro,e_food/e_fcs/e01,e_food/e_fcs/e02,e_food/e_fcs/e03,e_food/e_fcs/e04,e_food/e_fcs/e05,e_food/e_fcs/e06,e_food/e_fcs/e07,e_food/e_fcs/e08,e_food/e_fcs/e09,...,e_food/e_hfias/e33,e_food/e_hfias/e33a,e_food/e34,e_food/e34_other,e_food/e35,e_food/e35/food_taste,e_food/e35/food_price,e_food/e35/food_health,e_food/e35/other,e_food/e35_other
0,NaN,7,7,5,4,3,3,7,7,7,...,0,NaN,dec_femalehh,NaN,food_taste food_price,True,True,False,False,NaN
1,NaN,7,3,4,7,3,4,6,7,7,...,0,NaN,dec_femalehh,NaN,food_taste food_price,True,True,False,False,NaN
2,NaN,7,3,5,0,2,0,6,7,7,...,0,NaN,dec_femalehh,NaN,food_price,False,True,False,False,NaN
3,NaN,7,2,2,0,1,3,4,7,7,...,0,NaN,dec_femalehh,NaN,food_price,False,True,False,False,NaN
4,NaN,7,2,3,0,0,0,0,7,7,...,1,3,dec_femalehh,NaN,food_price,False,True,False,False,NaN

In [39]:
# dropping empty or duplicated columns
df_food.drop(['e_food/e_fcs/e_fcs_intro','e_food/e_hdds/e_hdds_lab', 'e_food/e34_other', 'e_food/e35/food_taste',
          'e_food/e35/food_price', 'e_food/e35/food_health', 'e_food/e35/other', 'e_food/e35_other'], axis=1, inplace = True)

In [40]:
df_food.rename(columns = {0:'e_food/e_hfias/e25'}, inplace = True)

In [41]:
# Filliing NaN values: all of NaNs are in 'How often did this happen?' columns,
# ending on 'a' (like 'e_food/e_hfias/e33a' column) and it looks like the answer was 'I don't know'.
# Keeping these columns instead of dropping them, filling 'no_inf' instead of NaNs.
df_food.fillna('no_inf', inplace = True)

In [42]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 44 columns):
e_food/e_fcs/e01       11260 non-null int64
e_food/e_fcs/e02       11260 non-null int64
e_food/e_fcs/e03       11260 non-null int64
e_food/e_fcs/e04       11260 non-null int64
e_food/e_fcs/e05       11260 non-null int64
e_food/e_fcs/e06       11260 non-null int64
e_food/e_fcs/e07       11260 non-null int64
e_food/e_fcs/e08       11260 non-null int64
e_food/e_fcs/e09       11260 non-null int64
e_food/e_hdds/e10      11260 non-null object
e_food/e_hdds/e11      11260 non-null object
e_food/e_hdds/e12      11260 non-null object
e_food/e_hdds/e13      11260 non-null object
e_food/e_hdds/e14      11260 non-null object
e_food/e_hdds/e15      11260 non-null object
e_food/e_hdds/e16      11260 non-null object
e_food/e_hdds/e17      11260 non-null object
e_food/e_hdds/e18      11260 non-null object
e_food/e_hdds/e19      11260 non-null object
e_food/e_hdds/e20      11260 non-null object
e_food/e_hdds/e21      11260 non-null object
e_food/e_hdds/e22      11260 non-null object
e_food/e_hdds/e23      11260 non-null object
e_food/e_hdds/e24      11260 non-null object
e_food/e_hfias/e25     11260 non-null object
e_food/e_hfias/e25a    11260 non-null object
e_food/e_hfias/e26     11260 non-null object
e_food/e_hfias/e26a    11260 non-null object
e_food/e_hfias/e27     11260 non-null object
e_food/e_hfias/e27a    11260 non-null object
e_food/e_hfias/e28     11260 non-null object
e_food/e_hfias/e28a    11260 non-null object
e_food/e_hfias/e29     11260 non-null object
e_food/e_hfias/e29a    11260 non-null object
e_food/e_hfias/e30     11260 non-null object
e_food/e_hfias/e30a    11260 non-null object
e_food/e_hfias/e31     11260 non-null object
e_food/e_hfias/e31a    11260 non-null object
e_food/e_hfias/e32     11260 non-null object
e_food/e_hfias/e32a    11260 non-null object
e_food/e_hfias/e33     11260 non-null object
e_food/e_hfias/e33a    11260 non-null object
e_food/e34             11260 non-null object
e_food/e35             11260 non-null object
dtypes: int64(9), object(35)
memory usage: 3.8+ MB

In [43]:
#checking that everything looks good
for column in df_food.columns:
    print(column, df_food[column].unique().tolist())

e_food/e_fcs/e01 [7, 3, 5, 6, 4, 1, 2, 0]
e_food/e_fcs/e02 [7, 3, 2, 1, 0, 4, 5, 6]
e_food/e_fcs/e03 [5, 4, 2, 3, 1, 0, 7, 6]
e_food/e_fcs/e04 [4, 7, 0, 6, 3, 1, 5, 2]
e_food/e_fcs/e05 [3, 2, 1, 0, 5, 4, 7, 6]
e_food/e_fcs/e06 [3, 4, 0, 7, 5, 1, 6, 2]
e_food/e_fcs/e07 [7, 6, 4, 0, 3, 5, 2, 1]
e_food/e_fcs/e08 [7, 3, 5, 4, 6, 2, 0, 1]
e_food/e_fcs/e09 [7, 4, 5, 0, 6, 3, 1, 2]
e_food/e_hdds/e10 [1, 0, 'yes', 'no']
e_food/e_hdds/e11 [1, 0, 'yes', 'no']
e_food/e_hdds/e12 [0, 1, 'yes', 'no']
e_food/e_hdds/e13 [1, 0, 'yes', 'no']
e_food/e_hdds/e14 [0, 1, 'yes', 'no']
e_food/e_hdds/e15 [0, 1, 'no', 'yes']
e_food/e_hdds/e16 [1, 0, 'yes', 'no']
e_food/e_hdds/e17 [0, 1, 'yes', 'no']
e_food/e_hdds/e18 [0, 1, 'yes', 'no']
e_food/e_hdds/e19 [0, 1, 'no', 'yes']
e_food/e_hdds/e20 [0, 1, 'yes', 'no']
e_food/e_hdds/e21 [0, 1, 'yes', 'no']
e_food/e_hdds/e22 [1, 0, 'yes', 'no']
e_food/e_hdds/e23 [1, 0, 'yes', 'no']
e_food/e_hdds/e24 [1, 0, 'yes', 'no']
e_food/e_hfias/e25 [0, 1, 'no', 'yes']
e_food/e_hfias/e25a ['no_inf', 2, 3, 1, 'often', 'sometimes', 'rarely']
e_food/e_hfias/e26 [0, 1, 'no', 'yes']
e_food/e_hfias/e26a ['no_inf', 2, 1, 3, 'sometimes', 'rarely', 'often']
e_food/e_hfias/e27 [0, 1, 'no', 'yes']
e_food/e_hfias/e27a ['no_inf', 2, 3, 1, 'sometimes', 'rarely', 'often']
e_food/e_hfias/e28 [0, 1, 'no', 'yes']
e_food/e_hfias/e28a ['no_inf', 2, 3, 1, 'sometimes', 'rarely', 'often']
e_food/e_hfias/e29 [0, 1, 'no', 'yes']
e_food/e_hfias/e29a ['no_inf', 2, 1, 3, 'rarely', 'sometimes', 'often']
e_food/e_hfias/e30 [0, 1, 'no', 'yes']
e_food/e_hfias/e30a ['no_inf', 2, 3, 1, 'rarely', 'sometimes', 'often']
e_food/e_hfias/e31 [0, 1, 'no', 'yes']
e_food/e_hfias/e31a ['no_inf', 1, 2, 3, 'rarely', 'sometimes', 'often']
e_food/e_hfias/e32 [0, 1, 'no', 'yes']
e_food/e_hfias/e32a ['no_inf', 3, 1, 2, 'rarely', 'sometimes', 'often']
e_food/e_hfias/e33 [0, 1, 'no', 'yes']
e_food/e_hfias/e33a ['no_inf', 3, 1, 2, 'rarely', 'sometimes', 'often']
e_food/e34 ['dec_femalehh', 'dec_malehh', 'other', 'dec_female']
e_food/e35 ['food_taste food_price', 'food_price', 'food_taste food_health', 'food_taste', 'food_price food_health', 'food_health', 'food_taste food_price food_health', 'other', 'food_price other']

In [44]:
df_food.loc[:,'e_food/e_hdds/e10':'e_food/e_hfias/e25'] = df_food.loc[:,'e_food/e_hdds/e10':'e_food/e_hfias/e25'].replace([0,1],['no','yes'])

In [45]:
df_food.loc[:,['e_food/e_hfias/e26', 'e_food/e_hfias/e27', 'e_food/e_hfias/e28', 'e_food/e_hfias/e29', 'e_food/e_hfias/e30', 'e_food/e_hfias/e31', 'e_food/e_hfias/e32', 'e_food/e_hfias/e33']] = df_food.loc[:,['e_food/e_hfias/e26', 'e_food/e_hfias/e27', 'e_food/e_hfias/e28', 'e_food/e_hfias/e29', 'e_food/e_hfias/e30', 'e_food/e_hfias/e31', 'e_food/e_hfias/e32', 'e_food/e_hfias/e33']].replace([0,1],['no','yes'])

In [48]:
for column in df_food.columns:
    print(column, df_food[column].unique().tolist())

e_food/e_fcs/e01 [7, 3, 5, 6, 4, 1, 2, 0]
e_food/e_fcs/e02 [7, 3, 2, 1, 0, 4, 5, 6]
e_food/e_fcs/e03 [5, 4, 2, 3, 1, 0, 7, 6]
e_food/e_fcs/e04 [4, 7, 0, 6, 3, 1, 5, 2]
e_food/e_fcs/e05 [3, 2, 1, 0, 5, 4, 7, 6]
e_food/e_fcs/e06 [3, 4, 0, 7, 5, 1, 6, 2]
e_food/e_fcs/e07 [7, 6, 4, 0, 3, 5, 2, 1]
e_food/e_fcs/e08 [7, 3, 5, 4, 6, 2, 0, 1]
e_food/e_fcs/e09 [7, 4, 5, 0, 6, 3, 1, 2]
e_food/e_hdds/e10 ['yes', 'no']
e_food/e_hdds/e11 ['yes', 'no']
e_food/e_hdds/e12 ['no', 'yes']
e_food/e_hdds/e13 ['yes', 'no']
e_food/e_hdds/e14 ['no', 'yes']
e_food/e_hdds/e15 ['no', 'yes']
e_food/e_hdds/e16 ['yes', 'no']
e_food/e_hdds/e17 ['no', 'yes']
e_food/e_hdds/e18 ['no', 'yes']
e_food/e_hdds/e19 ['no', 'yes']
e_food/e_hdds/e20 ['no', 'yes']
e_food/e_hdds/e21 ['no', 'yes']
e_food/e_hdds/e22 ['yes', 'no']
e_food/e_hdds/e23 ['yes', 'no']
e_food/e_hdds/e24 ['yes', 'no']
e_food/e_hfias/e25 ['no', 'yes']
e_food/e_hfias/e25a ['no_inf', 'sometimes', 'often', 'rarely']
e_food/e_hfias/e26 ['no', 'yes']
e_food/e_hfias/e26a ['no_inf', 'sometimes', 'rarely', 'often']
e_food/e_hfias/e27 ['no', 'yes']
e_food/e_hfias/e27a ['no_inf', 'sometimes', 'often', 'rarely']
e_food/e_hfias/e28 ['no', 'yes']
e_food/e_hfias/e28a ['no_inf', 'sometimes', 'often', 'rarely']
e_food/e_hfias/e29 ['no', 'yes']
e_food/e_hfias/e29a ['no_inf', 'sometimes', 'rarely', 'often']
e_food/e_hfias/e30 ['no', 'yes']
e_food/e_hfias/e30a ['no_inf', 'sometimes', 'often', 'rarely']
e_food/e_hfias/e31 ['no', 'yes']
e_food/e_hfias/e31a ['no_inf', 'rarely', 'sometimes', 'often']
e_food/e_hfias/e32 ['no', 'yes']
e_food/e_hfias/e32a ['no_inf', 'often', 'rarely', 'sometimes']
e_food/e_hfias/e33 ['no', 'yes']
e_food/e_hfias/e33a ['no_inf', 'often', 'rarely', 'sometimes']
e_food/e34 ['dec_femalehh', 'dec_malehh', 'other', 'dec_female']
e_food/e35 ['food_taste food_price', 'food_price', 'food_taste food_health', 'food_taste', 'food_price food_health', 'food_health', 'food_taste food_price food_health', 'other', 'food_price other']

In [47]:
df_food.loc[:,['e_food/e_hfias/e25a', 'e_food/e_hfias/e26a', 'e_food/e_hfias/e27a', 'e_food/e_hfias/e28a', 'e_food/e_hfias/e29a', 'e_food/e_hfias/e30a', 'e_food/e_hfias/e31a', 'e_food/e_hfias/e32a', 'e_food/e_hfias/e33a']] = df_food.loc[:,['e_food/e_hfias/e25a', 'e_food/e_hfias/e26a', 'e_food/e_hfias/e27a', 'e_food/e_hfias/e28a', 'e_food/e_hfias/e29a', 'e_food/e_hfias/e30a', 'e_food/e_hfias/e31a', 'e_food/e_hfias/e32a', 'e_food/e_hfias/e33a']].replace([1,2,3],['rarely', 'sometimes', 'often'])

##### 5. Access to basic servicies

In [49]:
df_access = df.loc[:, 'f_access/f_lit/f01a':'f_access/f11_other']

In [50]:
df_access.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 82 columns):
f_access/f_lit/f01a                   11103 non-null float64
f_access/f_lit/f01b                   11043 non-null float64
f_access/f_lit/f01a1                  238 non-null object
f_access/f_lit/f01a1/ill_noschoolg    238 non-null float64
f_access/f_lit/f01a1/ill_fam          238 non-null float64
f_access/f_lit/f01a1/ill_money        238 non-null float64
f_access/f_lit/f01a1/ill_far          238 non-null float64
f_access/f_lit/f01a1/ill_workh        238 non-null float64
f_access/f_lit/f01a1/ill_workinc      238 non-null float64
f_access/f_lit/f01a1/ill_language     238 non-null float64
f_access/f_lit/f01a1/ill_tazkera      238 non-null float64
f_access/f_lit/f01a1/ill_neglected    238 non-null float64
f_access/f_lit/f01a1/other            238 non-null float64
f_access/f_lit/f01a1_other            0 non-null float64
f_access/f_lit/f01b1                  42 non-null object
f_access/f_lit/f01b1/ill_noschoolg    42 non-null float64
f_access/f_lit/f01b1/ill_fam          42 non-null float64
f_access/f_lit/f01b1/ill_money        42 non-null float64
f_access/f_lit/f01b1/ill_far          42 non-null float64
f_access/f_lit/f01b1/ill_workh        42 non-null float64
f_access/f_lit/f01b1/ill_workinc      42 non-null float64
f_access/f_lit/f01b1/ill_language     42 non-null float64
f_access/f_lit/f01b1/ill_tazkera      42 non-null float64
f_access/f_lit/f01b1/ill_neglected    42 non-null float64
f_access/f_lit/f01b1/other            42 non-null float64
f_access/f_lit/f01b1_other            0 non-null float64
f_access/f02a                         11260 non-null object
f_access/f02a_other                   925 non-null object
f_access/f02b                         11260 non-null object
f_access/f02b_other                   679 non-null object
f_access/f03                          11260 non-null object
f_access/f03a                         731 non-null object
f_access/f03a_other                   15 non-null object
f_access/f04                          11260 non-null object
f_access/f04_other                    111 non-null object
f_access/f04a                         9532 non-null object
f_access/f04b                         955 non-null object
f_access/f04c                         948 non-null object
f_access/f04c_other                   6 non-null object
f_access/f05                          11260 non-null object
f_access/f05_other                    3 non-null object
f_access/f06                          11260 non-null object
f_access/f06a                         36 non-null object
f_access/f06b                         11260 non-null object
f_access/f06c                         11260 non-null object
f_access/f07                          11260 non-null object
f_access/f07a                         1538 non-null float64
f_access/f07a1                        1421 non-null object
f_access/f07a1/taz_useful             1421 non-null float64
f_access/f07a1/taz_needed             1421 non-null float64
f_access/f07a1/taz_expensive          1421 non-null float64
f_access/f07a1/taz_knowledge          1421 non-null float64
f_access/f07a1/taz_lengthy            1421 non-null float64
f_access/f07a1/taz_origin             1421 non-null float64
f_access/f07a1/other                  1421 non-null float64
f_access/f07a1_other                  5 non-null object
f_access/f07b                         1498 non-null float64
f_access/f07b1                        1144 non-null object
f_access/f07b1/taz_useful             1144 non-null float64
f_access/f07b1/taz_needed             1144 non-null float64
f_access/f07b1/taz_expensive          1144 non-null float64
f_access/f07b1/taz_knowledge          1144 non-null float64
f_access/f07b1/taz_lengthy            1144 non-null float64
f_access/f07b1/taz_origin             1144 non-null float64
f_access/f07b1/other                  1144 non-null float64
f_access/f07b1_other                  17 non-null object
f_access/f08                          1500 non-null object
f_access/f09                          11260 non-null object
f_access/f10                          11260 non-null object
f_access/f10_other                    75 non-null object
f_access/f11                          11260 non-null object
f_access/f11/hissue_lack              11260 non-null bool
f_access/f11/hissue_long              11260 non-null bool
f_access/f11/hissue_cost              11260 non-null bool
f_access/f11/hissue_qualified         11260 non-null bool
f_access/f11/hissue_med               11260 non-null bool
f_access/f11/hissue_femdoc            11260 non-null bool
f_access/f11/hissue_femnurse          11260 non-null bool
f_access/f11/hissue_all               11260 non-null bool
f_access/f11/hissue_none              11260 non-null bool
f_access/f11/other                    11260 non-null bool
f_access/f11_other                    50 non-null object
dtypes: bool(10), float64(40), object(32)
memory usage: 6.3+ MB

In [51]:
df_access['f_access/f04a'].fillna('no_inf', inplace = True)

In [52]:
df_access['f_access/f_lit/f01a'].fillna(df_access['f_access/f_lit/f01a'].median(axis=0), inplace = True)

In [53]:
df_access['f_access/f_lit/f01b'].fillna(df_access['f_access/f_lit/f01b'].median(axis=0), inplace = True)

In [54]:
list_all = []
for col in df_access.columns:
    col_val = df_access[col].notnull().sum()
    if col_val == 11260:
        list_all.append(col)
    else:
        continue

In [55]:
list_all

['f_access/f_lit/f01a',
 'f_access/f_lit/f01b',
 'f_access/f02a',
 'f_access/f02b',
 'f_access/f03',
 'f_access/f04',
 'f_access/f04a',
 'f_access/f05',
 'f_access/f06',
 'f_access/f06b',
 'f_access/f06c',
 'f_access/f07',
 'f_access/f09',
 'f_access/f10',
 'f_access/f11',
 'f_access/f11/hissue_lack',
 'f_access/f11/hissue_long',
 'f_access/f11/hissue_cost',
 'f_access/f11/hissue_qualified',
 'f_access/f11/hissue_med',
 'f_access/f11/hissue_femdoc',
 'f_access/f11/hissue_femnurse',
 'f_access/f11/hissue_all',
 'f_access/f11/hissue_none',
 'f_access/f11/other']

In [56]:
df_access = df_access.loc[:,['f_access/f_lit/f01a',
 'f_access/f_lit/f01b',
 'f_access/f02a',
 'f_access/f02b',
 'f_access/f03',
 'f_access/f04',
 'f_access/f04a',
 'f_access/f05',
 'f_access/f06',
 'f_access/f06b',
 'f_access/f06c',
 'f_access/f07',
 'f_access/f09',
 'f_access/f10',
 'f_access/f11']]

In [57]:
#converting f_access/f_lit/f01a, f_access/f_lit/f01b columns from float to int
df_access['f_access/f_lit/f01a'] = df_access['f_access/f_lit/f01a'].astype('int64')
df_access['f_access/f_lit/f01b'] = df_access['f_access/f_lit/f01b'].astype('int64')

In [58]:
df_access.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 15 columns):
f_access/f_lit/f01a    11260 non-null int64
f_access/f_lit/f01b    11260 non-null int64
f_access/f02a          11260 non-null object
f_access/f02b          11260 non-null object
f_access/f03           11260 non-null object
f_access/f04           11260 non-null object
f_access/f04a          11260 non-null object
f_access/f05           11260 non-null object
f_access/f06           11260 non-null object
f_access/f06b          11260 non-null object
f_access/f06c          11260 non-null object
f_access/f07           11260 non-null object
f_access/f09           11260 non-null object
f_access/f10           11260 non-null object
f_access/f11           11260 non-null object
dtypes: int64(2), object(13)
memory usage: 1.3+ MB

In [59]:
#checking that everything looks good
for column in df_access.columns:
    print(column, df_access[column].unique().tolist())

f_access/f_lit/f01a [3, 4, 0, 2, 1, 5, 6, 8, 11, 7, 10]
f_access/f_lit/f01b [4, 1, 9, 3, 2, 0, 6, 5, 7, 8, 12, 11]
f_access/f02a ['edu_girl', 'edu_boy', 'other', 'edu_hhhf', 'edu_hhhm', 'edu_adm', 'edu_adf']
f_access/f02b ['sch_high', 'sch_post', 'sch_uni', 'sch_prim', 'sch_dipl', 'sch_sec', 'other', 'sch_no', 'sch_madr']
f_access/f03 ['yes', 'no']
f_access/f04 ['water_impr', 'water_tank', 'other', 'water_unimpr']
f_access/f04a ['yes', 'no', 'no_inf']
f_access/f05 ['w_good', 'w_idk', 'w_bad', 'other']
f_access/f06 ['lat_trad', 'lat_impr', 'lat_none']
f_access/f06b ['no', 'yes']
f_access/f06c ['no', 'yes']
f_access/f07 ['yes', 'no']
f_access/f09 ['minh_mid', 'minh_more', 'minh_low', 'minh_no']
f_access/f10 ['health_private', 'health_basic', 'health_district', 'other']
f_access/f11 ['hissue_none', 'hissue_lack hissue_cost hissue_qualified hissue_femnurse', 'hissue_lack hissue_med', 'hissue_med', 'hissue_qualified', 'hissue_cost', 'hissue_cost hissue_qualified hissue_femnurse', 'hissue_cost hissue_qualified', 'hissue_cost hissue_med', 'hissue_med hissue_femnurse', 'hissue_med hissue_femdoc hissue_femnurse', 'hissue_long hissue_qualified', 'hissue_all', 'other', 'hissue_long', 'hissue_cost hissue_femdoc', 'hissue_cost hissue_med hissue_femdoc hissue_femnurse', 'hissue_cost hissue_qualified hissue_med hissue_femdoc', 'hissue_cost hissue_med hissue_femnurse', 'hissue_qualified hissue_med hissue_femdoc hissue_femnurse', 'hissue_cost hissue_qualified hissue_med hissue_femdoc hissue_femnurse', 'hissue_lack hissue_cost hissue_qualified', 'hissue_lack hissue_cost', 'hissue_lack hissue_qualified', 'hissue_lack hissue_long', 'hissue_long hissue_cost', 'hissue_long hissue_med', 'hissue_lack hissue_femnurse', 'hissue_long hissue_cost hissue_qualified hissue_med', 'hissue_long hissue_cost hissue_qualified', 'hissue_long hissue_cost hissue_med hissue_femdoc hissue_femnurse', 'hissue_lack hissue_long hissue_qualified hissue_med hissue_femnurse', 'hissue_long hissue_cost hissue_qualified hissue_med hissue_femdoc hissue_femnurse', 'hissue_cost hissue_qualified hissue_med', 'hissue_lack hissue_long hissue_cost', 'hissue_lack hissue_cost hissue_femdoc', 'hissue_long hissue_cost hissue_femdoc', 'hissue_cost hissue_qualified hissue_femdoc', 'hissue_lack hissue_qualified hissue_med', 'hissue_cost hissue_femdoc hissue_femnurse', 'hissue_qualified hissue_med', 'hissue_femdoc', 'hissue_qualified hissue_med hissue_femdoc', 'hissue_long hissue_cost hissue_qualified hissue_med hissue_femdoc', 'hissue_long hissue_cost hissue_femnurse', 'hissue_cost hissue_none', 'hissue_lack hissue_long hissue_cost hissue_femdoc', 'hissue_lack hissue_long hissue_cost hissue_qualified hissue_med', 'hissue_long hissue_femdoc', 'hissue_lack hissue_femdoc', 'hissue_femdoc hissue_femnurse', 'hissue_lack', 'hissue_femnurse', 'hissue_lack hissue_long hissue_cost hissue_qualified', 'hissue_qualified hissue_femnurse', 'hissue_lack hissue_femdoc hissue_femnurse', 'hissue_femnurse hissue_all', 'hissue_long hissue_qualified hissue_med', 'hissue_lack hissue_femnurse hissue_all', 'hissue_cost hissue_qualified hissue_med hissue_femnurse', 'hissue_long hissue_qualified hissue_med hissue_femdoc', 'hissue_qualified hissue_med hissue_femdoc hissue_all', 'hissue_lack hissue_cost hissue_qualified hissue_med hissue_femdoc', 'hissue_long hissue_none', 'hissue_qualified hissue_none', 'hissue_cost hissue_med hissue_femdoc', 'hissue_med hissue_femdoc', 'hissue_cost hissue_qualified hissue_femdoc hissue_femnurse', 'hissue_qualified hissue_femdoc', 'hissue_cost hissue_all', 'hissue_lack hissue_long hissue_cost hissue_qualified hissue_femnurse', 'hissue_long hissue_femnurse', 'hissue_qualified hissue_med hissue_femnurse', 'hissue_qualified hissue_femdoc hissue_femnurse', 'hissue_long hissue_cost hissue_none', 'hissue_femdoc hissue_femnurse hissue_all', 'hissue_cost hissue_femnurse', 'hissue_long hissue_cost hissue_med', 'hissue_lack hissue_long hissue_cost hissue_med', 'hissue_qualified hissue_med hissue_none', 'hissue_qualified hissue_med hissue_femdoc hissue_femnurse hissue_all', 'hissue_med hissue_femdoc hissue_femnurse hissue_all', 'hissue_cost hissue_qualified hissue_med hissue_femdoc hissue_all', 'hissue_long hissue_qualified hissue_med hissue_femnurse', 'hissue_long hissue_femdoc hissue_femnurse', 'hissue_qualified hissue_femdoc hissue_femnurse hissue_all', 'hissue_lack hissue_cost hissue_femnurse', 'hissue_lack hissue_long hissue_qualified', 'hissue_lack hissue_med hissue_femdoc', 'hissue_lack hissue_long hissue_qualified hissue_femdoc', 'hissue_lack hissue_none', 'hissue_cost hissue_med hissue_femdoc hissue_all', 'hissue_med hissue_femdoc hissue_all', 'hissue_lack hissue_qualified hissue_femdoc hissue_femnurse', 'hissue_lack hissue_med hissue_femdoc hissue_femnurse hissue_all', 'hissue_lack hissue_qualified hissue_med hissue_none', 'hissue_lack hissue_long hissue_cost hissue_qualified hissue_med hissue_femdoc', 'hissue_all hissue_none', 'hissue_cost hissue_femnurse hissue_all', 'hissue_lack hissue_qualified hissue_none', 'hissue_lack hissue_med hissue_femnurse', 'hissue_long hissue_qualified hissue_femdoc', 'hissue_long hissue_cost hissue_qualified hissue_femdoc', 'hissue_lack hissue_cost hissue_qualified hissue_med hissue_femdoc hissue_femnurse', 'hissue_lack hissue_qualified hissue_femdoc', 'hissue_lack hissue_long hissue_med', 'hissue_lack hissue_cost hissue_femdoc hissue_femnurse', 'hissue_long hissue_med hissue_femdoc', 'hissue_long hissue_qualified hissue_med hissue_femdoc hissue_femnurse', 'hissue_long hissue_cost hissue_all', 'hissue_cost hissue_med hissue_femnurse hissue_all', 'hissue_lack hissue_cost hissue_none', 'hissue_lack hissue_qualified hissue_femnurse', 'hissue_qualified hissue_femdoc hissue_all', 'hissue_cost hissue_qualified hissue_femdoc hissue_all', 'hissue_qualified hissue_med hissue_femnurse hissue_all', 'hissue_long hissue_qualified hissue_femdoc hissue_femnurse', 'hissue_cost hissue_qualified hissue_med hissue_femdoc hissue_femnurse hissue_all', 'hissue_lack hissue_cost hissue_qualified hissue_med', 'hissue_cost hissue_qualified hissue_med hissue_femnurse hissue_all', 'hissue_long hissue_cost hissue_med hissue_femdoc', 'hissue_femdoc hissue_all', 'hissue_lack hissue_cost hissue_med hissue_femdoc', 'hissue_cost hissue_qualified hissue_femdoc hissue_femnurse hissue_all', 'hissue_long hissue_cost hissue_qualified hissue_femdoc hissue_femnurse', 'hissue_qualified hissue_med hissue_femdoc hissue_none', 'hissue_med hissue_all', 'hissue_long hissue_med hissue_femnurse', 'hissue_cost hissue_qualified hissue_med hissue_none', 'hissue_long other']

##### 6. Assets

In [60]:
df_assets = df.loc[:, 'g_social/g01':'h_assets/h23']

In [61]:
df_assets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 39 columns):
g_social/g01                      11260 non-null object
h_assets/h01                      11260 non-null object
h_assets/h01_other                344 non-null object
h_assets/h01a                     11260 non-null int64
h_assets/h02                      11260 non-null object
h_assets/h03                      1387 non-null object
h_assets/h03_other                0 non-null float64
h_assets/h04                      11260 non-null object
h_assets/h04/livestock_cattle     11260 non-null bool
h_assets/h04/livestock_buffalo    11260 non-null bool
h_assets/h04/livestock_horse      11260 non-null bool
h_assets/h04/livestock_donkey     11260 non-null bool
h_assets/h04/livestock_mule       11260 non-null bool
h_assets/h04/livestock_poultry    11260 non-null bool
h_assets/h04/livestock_goat       11260 non-null bool
h_assets/h04/livestock_sheep      11260 non-null bool
h_assets/h04/livestock_none       11260 non-null bool
h_assets/h04/other                11260 non-null bool
h_assets/h04_other                134 non-null object
h_assets/h_dai/h_dai_lab          0 non-null float64
h_assets/h_dai/h05                11260 non-null object
h_assets/h_dai/h06                11260 non-null object
h_assets/h_dai/h07                11260 non-null object
h_assets/h_dai/h08                11260 non-null object
h_assets/h_dai/h09                11260 non-null object
h_assets/h_dai/h10                11260 non-null object
h_assets/h_dai/h11                11260 non-null object
h_assets/h_dai/h12                11260 non-null object
h_assets/h_dai/h13                11260 non-null object
h_assets/h_dai/h14                11260 non-null object
h_assets/h_dai/h15                11260 non-null object
h_assets/h_dai/h16                11260 non-null object
h_assets/h_dai/h17                11260 non-null object
h_assets/h18                      11260 non-null object
h_assets/h19                      11260 non-null object
h_assets/h20                      11260 non-null object
h_assets/h21                      11260 non-null object
h_assets/h22                      11260 non-null object
h_assets/h23                      11260 non-null object
dtypes: bool(10), float64(2), int64(1), object(26)
memory usage: 2.6+ MB

In [62]:
df_assets.head()

,g_social/g01,h_assets/h01,h_assets/h01_other,h_assets/h01a,h_assets/h02,h_assets/h03,h_assets/h03_other,h_assets/h04,h_assets/h04/livestock_cattle,h_assets/h04/livestock_buffalo,...,h_assets/h_dai/h14,h_assets/h_dai/h15,h_assets/h_dai/h16,h_assets/h_dai/h17,h_assets/h18,h_assets/h19,h_assets/h20,h_assets/h21,h_assets/h22,h_assets/h23
0,no,shelter_own,NaN,40,yes,deed_formal,NaN,livestock_none,False,False,...,yes,yes,yes,no,yes,yes,no,no,yes,yes
1,no,shelter_own,NaN,30,no,NaN,NaN,livestock_none,False,False,...,no,no,no,no,yes,yes,no,no,no,yes
2,no,shelter_own,NaN,30,no,NaN,NaN,livestock_none,False,False,...,yes,yes,yes,no,yes,yes,no,no,no,yes
3,no,shelter_house,NaN,20,no,NaN,NaN,livestock_none,False,False,...,no,no,no,no,yes,no,no,no,no,yes
4,no,shelter_own,NaN,20,no,NaN,NaN,livestock_none,False,False,...,no,no,no,no,yes,yes,no,no,yes,yes

In [63]:
# dropping empty or duplicated columns
df_assets.drop(['h_assets/h01_other', 'h_assets/h03_other', 
'h_assets/h04/livestock_cattle', 'h_assets/h04/livestock_buffalo',
'h_assets/h04/livestock_horse', 'h_assets/h04/livestock_donkey',
'h_assets/h04/livestock_mule', 'h_assets/h04/livestock_poultry',
'h_assets/h04/livestock_goat', 'h_assets/h04/livestock_sheep',
'h_assets/h04/livestock_none','h_assets/h04/other',
'h_assets/h04_other','h_assets/h_dai/h_dai_lab'], axis=1, inplace = True)

In [64]:
# the most common value of 'h_assets/h03'
df_assets['h_assets/h03'].mode(dropna=True)

0    deed_formal
dtype: object

In [65]:
# For 'yes' values in 'h_assets/h02'(Do you own land?) 
# fill NaN values in 'h_assets/h03'(Do you have a land deed for that land?) 
# with 'deed_formal'.

df_assets.loc[(df_assets['h_assets/h02']=='yes') & (df_assets['h_assets/h03'].isnull()), 'h_assets/h03']='deed_formal'

In [66]:
# For 'no' values in 'h_assets/h02'(Do you own land?) 
# fill NaN values in 'h_assets/h03'(Do you have a land deed for that land?) 
# with 'na_no_land'(not applicable, no land).

df_assets.loc[(df_assets['h_assets/h02']=='no') & (df_assets['h_assets/h03'].isnull()), 'h_assets/h03']='na_no_land'

In [67]:
df_assets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 25 columns):
g_social/g01          11260 non-null object
h_assets/h01          11260 non-null object
h_assets/h01a         11260 non-null int64
h_assets/h02          11260 non-null object
h_assets/h03          11260 non-null object
h_assets/h04          11260 non-null object
h_assets/h_dai/h05    11260 non-null object
h_assets/h_dai/h06    11260 non-null object
h_assets/h_dai/h07    11260 non-null object
h_assets/h_dai/h08    11260 non-null object
h_assets/h_dai/h09    11260 non-null object
h_assets/h_dai/h10    11260 non-null object
h_assets/h_dai/h11    11260 non-null object
h_assets/h_dai/h12    11260 non-null object
h_assets/h_dai/h13    11260 non-null object
h_assets/h_dai/h14    11260 non-null object
h_assets/h_dai/h15    11260 non-null object
h_assets/h_dai/h16    11260 non-null object
h_assets/h_dai/h17    11260 non-null object
h_assets/h18          11260 non-null object
h_assets/h19          11260 non-null object
h_assets/h20          11260 non-null object
h_assets/h21          11260 non-null object
h_assets/h22          11260 non-null object
h_assets/h23          11260 non-null object
dtypes: int64(1), object(24)
memory usage: 2.1+ MB

In [68]:
#checking that everything looks good
for column in df_assets.columns:
    print(column, df_assets[column].unique().tolist())

g_social/g01 ['no', 'yes']
h_assets/h01 ['shelter_own', 'shelter_house', 'shelter_rented', 'shelter_makeshift', 'shelter_public', 'other', 'shelter_sharing', 'shelter_open', 'shelter_self', 'shelter_tent']
h_assets/h01a [40, 30, 20, 4, 1, 0, 2, 3, 50, 10, 6, 5, 9, 15, 500, 100, 150, 8, 70, 12, 7, 13, 14, 28, 25, 29, 16, 35, 11, 17, 24, 22, 19, 18, 8000, 23, 60, 200, 7000, 45, 79, 55, 21, 110, 32, 80, 27, 63, 69, 74, 41, 5000, 51, 66, 53, 72, 10000, 47, 36, 33, 46, 26, 42, 1000]
h_assets/h02 ['yes', 'no']
h_assets/h03 ['deed_formal', 'na_no_land', 'deed_informal', 'deed_no', 'deed_idk']
h_assets/h04 ['livestock_none', 'livestock_buffalo', 'livestock_poultry', 'livestock_poultry other', 'other', 'livestock_sheep livestock_none', 'livestock_sheep', 'livestock_goat livestock_sheep', 'livestock_horse livestock_goat livestock_sheep', 'livestock_goat', 'livestock_poultry livestock_none', 'livestock_cattle', 'livestock_buffalo livestock_sheep', 'livestock_goat livestock_none', 'livestock_horse', 'livestock_donkey', 'livestock_buffalo livestock_goat livestock_sheep', 'livestock_mule livestock_none', 'livestock_buffalo livestock_donkey other', 'livestock_cattle livestock_none', 'livestock_buffalo other', 'livestock_buffalo livestock_none', 'livestock_buffalo livestock_sheep livestock_none', 'livestock_cattle livestock_goat livestock_sheep', 'livestock_buffalo livestock_poultry', 'livestock_mule', 'livestock_donkey livestock_goat', 'livestock_buffalo livestock_horse livestock_donkey livestock_poultry livestock_goat livestock_sheep', 'livestock_buffalo livestock_donkey', 'livestock_buffalo livestock_mule', 'livestock_horse livestock_mule', 'livestock_horse livestock_donkey', 'livestock_buffalo livestock_horse livestock_mule', 'livestock_none other']
h_assets/h_dai/h05 ['yes', 'no']
h_assets/h_dai/h06 ['yes', 'no']
h_assets/h_dai/h07 ['yes', 'no']
h_assets/h_dai/h08 ['yes', 'no']
h_assets/h_dai/h09 ['no', 'yes']
h_assets/h_dai/h10 ['yes', 'no']
h_assets/h_dai/h11 ['yes', 'no']
h_assets/h_dai/h12 ['yes', 'no']
h_assets/h_dai/h13 ['yes', 'no']
h_assets/h_dai/h14 ['yes', 'no']
h_assets/h_dai/h15 ['yes', 'no']
h_assets/h_dai/h16 ['yes', 'no']
h_assets/h_dai/h17 ['no', 'yes']
h_assets/h18 ['yes', 'no']
h_assets/h19 ['yes', 'no']
h_assets/h20 ['no', 'yes']
h_assets/h21 ['no', 'yes']
h_assets/h22 ['yes', 'no']
h_assets/h23 ['yes', 'no']

##### 7. Adaptive Capacity

In [69]:
df.loc[:, 'i_adaptive/i01':'i_adaptive/i12_other'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 58 columns):
i_adaptive/i01                      11260 non-null int64
i_adaptive/i01income_count          11260 non-null int64
i_adaptive/i04                      11260 non-null int64
i_adaptive/i05                      11260 non-null object
i_adaptive/i05a                     2101 non-null float64
i_adaptive/i05a1                    929 non-null object
i_adaptive/i05a1/school_work        929 non-null float64
i_adaptive/i05a1/school_document    929 non-null float64
i_adaptive/i05a1/school_far         929 non-null float64
i_adaptive/i05a1/school_ill         929 non-null float64
i_adaptive/i05a1/school_useful      929 non-null float64
i_adaptive/i05a1/school_monet       929 non-null float64
i_adaptive/i05a1/school_language    929 non-null float64
i_adaptive/i05a1/school_allow       929 non-null float64
i_adaptive/i05a1/other              929 non-null float64
i_adaptive/i05a1_other              120 non-null object
i_adaptive/i05b                     1991 non-null float64
i_adaptive/i05b1                    758 non-null object
i_adaptive/i05b1/school_work        758 non-null float64
i_adaptive/i05b1/school_document    758 non-null float64
i_adaptive/i05b1/school_far         758 non-null float64
i_adaptive/i05b1/school_ill         758 non-null float64
i_adaptive/i05b1/school_useful      758 non-null float64
i_adaptive/i05b1/school_monet       758 non-null float64
i_adaptive/i05b1/school_language    758 non-null float64
i_adaptive/i05b1/school_allow       758 non-null float64
i_adaptive/i05b1/other              758 non-null float64
i_adaptive/i05b1_other              141 non-null object
i_adaptive/i06                      11260 non-null object
i_adaptive/i07                      11260 non-null object
i_adaptive/i08                      11260 non-null object
i_adaptive/i09                      11260 non-null object
i_adaptive/i10                      11260 non-null object
i_adaptive/i11                      11260 non-null object
i_adaptive/i11/vul_minor            11260 non-null bool
i_adaptive/i11/vul_woman            11260 non-null bool
i_adaptive/i11/vul_sing_male        11260 non-null bool
i_adaptive/i11/vul_sing_female      11260 non-null bool
i_adaptive/i11/vul_ill              11260 non-null bool
i_adaptive/i11/vul_poor             11260 non-null bool
i_adaptive/i11/vul_plw              11260 non-null bool
i_adaptive/i11/vul_drugs            11260 non-null bool
i_adaptive/i11/vul_old              11260 non-null bool
i_adaptive/i11/vul_pdisabled        11260 non-null bool
i_adaptive/i11/vul_mdisabled        11260 non-null bool
i_adaptive/i11/vul_medcial          11260 non-null bool
i_adaptive/i11/vul_special          11260 non-null bool
i_adaptive/i11/vul_ochildren        11260 non-null bool
i_adaptive/i11/other                11260 non-null bool
i_adaptive/i11_other                3022 non-null object
i_adaptive/i12                      2929 non-null object
i_adaptive/i12/a_food               2929 non-null float64
i_adaptive/i12/a_nfi                2929 non-null float64
i_adaptive/i12/a_health             2929 non-null float64
i_adaptive/i12/a_housing            2929 non-null float64
i_adaptive/i12/a_legal              2929 non-null float64
i_adaptive/i12/other                2929 non-null float64
i_adaptive/i12_other                1394 non-null object
dtypes: bool(15), float64(26), int64(3), object(14)
memory usage: 3.9+ MB

In [70]:
# 'i_adaptive/i05a', 'i_adaptive/i05a1', 'i_adaptive/i05b', 'i_adaptive/i05b1', 'i_adaptive/i12' have missing values, dropping them as well as duplicated columns 
df_adaptive = df.loc[:,['i_adaptive/i01', 'i_adaptive/i01income_count', 'i_adaptive/i04', 'i_adaptive/i05', 'i_adaptive/i06', 'i_adaptive/i07', 'i_adaptive/i08', 'i_adaptive/i09', 'i_adaptive/i10', 'i_adaptive/i11']]

In [71]:
df_adaptive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 10 columns):
i_adaptive/i01                11260 non-null int64
i_adaptive/i01income_count    11260 non-null int64
i_adaptive/i04                11260 non-null int64
i_adaptive/i05                11260 non-null object
i_adaptive/i06                11260 non-null object
i_adaptive/i07                11260 non-null object
i_adaptive/i08                11260 non-null object
i_adaptive/i09                11260 non-null object
i_adaptive/i10                11260 non-null object
i_adaptive/i11                11260 non-null object
dtypes: int64(3), object(7)
memory usage: 879.8+ KB

In [72]:
#checking that everything looks good
for column in df_adaptive.columns:
    print(column, df_adaptive[column].unique().tolist())

i_adaptive/i01 [2, 1, 3, 4, 0, 6, 5, 7, 9]
i_adaptive/i01income_count [2, 1, 3, 4, 0, 6, 5, 7, 9]
i_adaptive/i04 [8000, 3000, 7000, 4000, 2000, 6000, 5000, 30000, 4500, 10000, 14000, 50000, 15000, 18000, 200, 9000, 250, 1000, 400, 70, 2500, 17000, 7500, 20000, 35000, 500, 130000, 3500, 1500, 11000, 12000, 8500, 4600, 7300, 0, 16000, 25000, 1200, 19000, 6500, 40000, 13000, 4400, 2700, 3300, 1008, 2008, 5500, 45000, 3600, 150000, 23000, 1, 90000, 6800, 2800, 3200, 1300, 2300, 80000, 9500, 100000, 300, 15, 4300, 24000, 22000, 400000, 5400, 5200, 2530, 13500, 3, 12008, 2, 1900, 21000, 60000, 120000, 25300, 2400, 56000, 13700, 12500, 70000, 530000, 540000, 250000, 9200, 2600, 29000, 25800, 6300, 5800, 27000, 11500, 7600, 1750, 12700, 4800, 32000, 1700, 5300, 200000, 7400, 36000, 180000, 4200, 5150, 11800, 7200, 2050, 140000, 7800, 53000, 5600, 5700, 2560, 75000, 12300, 10500, 7100, 55000, 73000, 4100, 1100, 2750, 72000, 10700, 112000, 42000, 6900, 65000, 3700, 3800, 6200, 3008, 15555, 6, 8, 1400, 1600, 5]
i_adaptive/i05 ['yes', 'no']
i_adaptive/i06 ['expenses_half', 'expenses_mhalf', 'expenses_lessh', 'expenses_all']
i_adaptive/i07 ['expenses_lessh', 'expenses_half', 'expenses_mhalf', 'expenses_all']
i_adaptive/i08 ['transport_more', 'transport_nothing', 'transport_less']
i_adaptive/i09 ['saving_none', 'saving_more', 'saving_less']
i_adaptive/i10 ['debt_less', 'debt_more', 'debt_mid']
i_adaptive/i11 ['other', 'vul_pdisabled vul_ochildren', 'vul_mdisabled', 'vul_minor vul_ill', 'vul_ochildren', 'vul_old', 'vul_minor vul_old', 'vul_plw', 'vul_medcial', 'vul_sing_female', 'vul_ill', 'vul_poor', 'vul_pdisabled', 'vul_pdisabled vul_medcial', 'vul_old vul_pdisabled', 'vul_special', 'vul_ill vul_old', 'vul_sing_male', 'vul_ill vul_pdisabled', 'vul_medcial vul_special', 'vul_old vul_medcial', 'vul_sing_male vul_sing_female vul_pdisabled vul_mdisabled', 'vul_sing_male vul_ill', 'vul_sing_male vul_sing_female other', 'vul_poor vul_pdisabled', 'vul_minor vul_sing_female', 'vul_sing_male vul_plw', 'vul_sing_male vul_drugs', 'vul_sing_male vul_special', 'vul_minor', 'vul_woman', 'vul_woman vul_special', 'vul_pdisabled vul_mdisabled', 'vul_special vul_ochildren', 'vul_mdisabled vul_medcial vul_special', 'vul_drugs', 'vul_woman vul_sing_female vul_ochildren', 'vul_sing_male vul_sing_female', 'vul_ill vul_medcial', 'vul_minor other', 'vul_woman vul_ill', 'vul_woman vul_sing_female vul_ill', 'vul_pdisabled vul_mdisabled vul_medcial', 'vul_mdisabled vul_medcial', 'vul_old vul_mdisabled', 'vul_pdisabled vul_mdisabled vul_medcial vul_special', 'vul_poor vul_plw vul_old', 'vul_plw vul_drugs', 'vul_drugs vul_medcial', 'vul_sing_female vul_pdisabled vul_mdisabled', 'vul_sing_male vul_poor', 'vul_sing_female vul_ill', 'vul_old vul_pdisabled vul_medcial', 'vul_plw vul_old vul_pdisabled', 'vul_plw vul_medcial', 'vul_old vul_special', 'vul_drugs vul_special', 'vul_drugs vul_old', 'vul_drugs vul_ochildren', 'vul_old vul_ochildren', 'vul_sing_female vul_pdisabled', 'vul_sing_female vul_medcial', 'vul_drugs vul_pdisabled', 'vul_minor vul_sing_female vul_old', 'vul_medcial vul_ochildren', 'vul_sing_female vul_pdisabled vul_medcial', 'vul_poor vul_plw', 'vul_woman vul_mdisabled', 'vul_plw vul_pdisabled', 'vul_drugs vul_mdisabled', 'vul_sing_female vul_drugs vul_pdisabled vul_mdisabled vul_medcial', 'vul_sing_female vul_mdisabled', 'vul_poor vul_drugs', 'vul_woman vul_drugs vul_mdisabled', 'vul_sing_male vul_sing_female vul_drugs vul_pdisabled vul_mdisabled', 'vul_minor vul_ochildren', 'vul_plw vul_ochildren', 'vul_sing_male vul_sing_female vul_ill', 'vul_sing_male vul_sing_female vul_poor', 'vul_sing_male vul_sing_female vul_poor vul_plw', 'vul_sing_male vul_mdisabled', 'vul_sing_male vul_sing_female vul_poor vul_pdisabled vul_mdisabled', 'vul_sing_male vul_poor vul_plw', 'vul_plw vul_old vul_pdisabled vul_mdisabled', 'vul_woman vul_sing_female vul_drugs', 'vul_woman vul_sing_female', 'vul_drugs vul_pdisabled vul_medcial', 'vul_woman vul_plw', 'vul_drugs vul_pdisabled vul_mdisabled vul_medcial', 'vul_drugs vul_pdisabled vul_mdisabled', 'vul_sing_male vul_sing_female vul_ill vul_poor vul_plw vul_medcial', 'vul_sing_female vul_poor vul_mdisabled', 'vul_woman vul_sing_male vul_ill vul_poor vul_plw', 'vul_sing_female vul_ill vul_medcial', 'vul_sing_female vul_poor', 'vul_poor vul_drugs vul_pdisabled', 'vul_sing_male vul_sing_female vul_ill vul_mdisabled vul_medcial', 'vul_sing_female vul_drugs vul_medcial', 'vul_sing_female vul_mdisabled vul_medcial vul_special', 'vul_sing_male vul_sing_female vul_poor vul_mdisabled vul_medcial', 'vul_sing_male vul_pdisabled', 'vul_sing_male vul_pdisabled vul_mdisabled', 'vul_minor vul_sing_male vul_pdisabled', 'vul_sing_male vul_sing_female vul_pdisabled vul_medcial', 'vul_woman vul_plw vul_drugs', 'vul_ill vul_poor vul_old vul_pdisabled vul_mdisabled vul_medcial', 'vul_mdisabled vul_special', 'vul_old vul_pdisabled vul_mdisabled vul_medcial', 'vul_poor vul_plw vul_pdisabled', 'vul_sing_female vul_plw', 'vul_old vul_medcial vul_ochildren', 'vul_plw vul_old', 'vul_sing_female vul_old', 'vul_poor vul_old', 'vul_plw vul_drugs vul_old vul_pdisabled vul_mdisabled', 'vul_plw vul_old vul_pdisabled vul_medcial', 'vul_woman vul_sing_male vul_medcial', 'vul_plw vul_old vul_medcial', 'vul_woman vul_pdisabled vul_mdisabled vul_medcial', 'vul_pdisabled vul_special', 'vul_sing_male vul_sing_female vul_pdisabled vul_special', 'vul_drugs vul_medcial vul_special', 'vul_sing_male vul_pdisabled vul_medcial', 'vul_minor vul_woman vul_sing_male vul_poor vul_plw vul_mdisabled', 'vul_plw vul_drugs vul_pdisabled', 'vul_sing_male vul_mdisabled vul_medcial', 'vul_woman vul_sing_male vul_pdisabled vul_mdisabled', 'vul_sing_female vul_drugs', 'vul_sing_male vul_poor vul_pdisabled', 'vul_sing_male vul_ill vul_poor vul_pdisabled vul_medcial', 'vul_sing_male vul_sing_female vul_pdisabled', 'vul_old vul_mdisabled vul_medcial', 'vul_sing_female vul_old vul_medcial vul_special', 'vul_pdisabled vul_medcial vul_special', 'vul_old vul_pdisabled vul_medcial vul_special', 'vul_drugs vul_old vul_pdisabled', 'vul_sing_male vul_drugs vul_medcial', 'vul_old vul_pdisabled vul_mdisabled', 'vul_minor vul_drugs', 'vul_minor vul_sing_male vul_mdisabled', 'vul_minor vul_pdisabled', 'vul_minor vul_mdisabled vul_medcial', 'vul_sing_male vul_sing_female vul_pdisabled vul_mdisabled vul_medcial', 'vul_drugs vul_mdisabled vul_medcial', 'vul_sing_male vul_sing_female vul_poor vul_drugs', 'vul_plw vul_drugs vul_medcial', 'vul_sing_male vul_poor vul_drugs', 'vul_poor vul_drugs vul_pdisabled vul_mdisabled vul_medcial', 'vul_sing_male vul_poor vul_pdisabled vul_mdisabled', 'vul_woman vul_medcial', 'vul_ill vul_plw', 'vul_sing_female vul_ochildren', 'vul_sing_female vul_old vul_medcial', 'vul_plw vul_special', 'vul_plw vul_pdisabled vul_mdisabled', 'vul_plw vul_mdisabled vul_medcial', 'vul_medcial other', 'vul_sing_male vul_sing_female vul_old', 'vul_minor vul_woman vul_medcial', 'vul_sing_male vul_medcial', 'vul_sing_male vul_old vul_ochildren', 'vul_sing_male vul_mdisabled vul_medcial vul_special', 'vul_minor vul_sing_female vul_ill', 'vul_minor vul_sing_female vul_medcial', 'vul_sing_male vul_sing_female vul_medcial', 'vul_minor vul_sing_male vul_plw', 'vul_woman vul_sing_female vul_mdisabled', 'vul_minor vul_plw vul_special', 'vul_minor vul_sing_male vul_sing_female vul_pdisabled', 'vul_minor vul_sing_male vul_sing_female', 'vul_sing_female vul_poor vul_pdisabled vul_mdisabled', 'vul_sing_male vul_poor vul_pdisabled vul_medcial', 'vul_sing_male vul_pdisabled vul_mdisabled vul_medcial', 'vul_sing_male vul_sing_female vul_ill vul_poor vul_mdisabled', 'vul_sing_male vul_poor vul_pdisabled vul_mdisabled vul_medcial', 'vul_sing_female vul_poor vul_pdisabled vul_mdisabled vul_medcial', 'vul_sing_male vul_sing_female vul_poor vul_pdisabled vul_medcial', 'vul_ill vul_mdisabled', 'vul_minor vul_sing_male', 'vul_minor vul_poor', 'vul_sing_male vul_old vul_medcial', 'vul_sing_female vul_poor vul_pdisabled', 'vul_sing_male vul_poor vul_mdisabled vul_medcial', 'vul_poor vul_pdisabled vul_mdisabled', 'vul_poor vul_mdisabled', 'vul_ill vul_pdisabled vul_mdisabled', 'vul_ill vul_poor vul_medcial', 'vul_ill vul_old vul_pdisabled', 'vul_minor vul_ill vul_pdisabled vul_medcial', 'vul_minor vul_medcial vul_special', 'vul_minor vul_medcial', 'vul_minor vul_pdisabled vul_medcial', 'vul_minor vul_pdisabled vul_special vul_ochildren', 'vul_minor vul_special vul_ochildren', 'vul_minor vul_pdisabled vul_special', 'vul_minor vul_medcial vul_special vul_ochildren', 'vul_minor vul_medcial vul_ochildren', 'vul_ill vul_pdisabled vul_mdisabled vul_medcial', 'vul_ill vul_mdisabled vul_medcial', 'vul_woman vul_pdisabled vul_mdisabled', 'vul_minor vul_plw vul_drugs vul_mdisabled', 'vul_ill vul_mdisabled vul_special', 'vul_pdisabled vul_mdisabled vul_special', 'vul_minor vul_poor vul_plw', 'vul_minor vul_plw', 'vul_woman vul_drugs', 'vul_sing_male vul_sing_female vul_old vul_medcial', 'vul_woman vul_poor', 'vul_sing_female vul_pdisabled vul_mdisabled vul_medcial', 'vul_plw vul_drugs vul_ochildren', 'vul_ill vul_pdisabled vul_medcial', 'vul_woman vul_sing_male', 'vul_minor vul_mdisabled', 'vul_minor vul_woman', 'vul_woman vul_sing_male vul_ill', 'vul_sing_male vul_sing_female vul_poor vul_pdisabled vul_mdisabled vul_medcial', 'vul_ill vul_mdisabled vul_medcial vul_special', 'vul_sing_female vul_poor vul_drugs', 'vul_woman vul_sing_female vul_poor vul_pdisabled vul_mdisabled', 'vul_woman vul_poor vul_pdisabled vul_mdisabled', 'vul_minor vul_sing_male vul_sing_female vul_mdisabled', 'vul_woman vul_sing_male vul_sing_female vul_poor vul_pdisabled vul_mdisabled', 'vul_woman vul_old', 'vul_sing_male vul_ochildren', 'vul_plw vul_mdisabled', 'vul_plw vul_pdisabled vul_mdisabled vul_medcial', 'vul_sing_female other', 'vul_minor vul_poor vul_old', 'vul_minor vul_sing_male vul_medcial', 'vul_sing_female vul_poor vul_pdisabled vul_mdisabled vul_ochildren', 'vul_minor vul_special', 'vul_woman vul_ill vul_poor', 'vul_woman vul_poor vul_pdisabled', 'vul_sing_female vul_plw vul_drugs', 'vul_minor vul_poor vul_mdisabled', 'vul_sing_male vul_plw vul_old', 'vul_sing_female vul_plw vul_old', 'vul_ill vul_old vul_medcial', 'vul_sing_male vul_plw vul_medcial', 'vul_woman vul_poor vul_plw', 'vul_ill vul_poor', 'vul_ill vul_poor vul_pdisabled vul_mdisabled', 'vul_ill vul_poor vul_mdisabled', 'vul_minor vul_pdisabled vul_mdisabled', 'vul_minor vul_ill vul_poor', 'vul_minor vul_old vul_pdisabled', 'vul_sing_female vul_poor vul_plw vul_pdisabled vul_mdisabled', 'vul_ill vul_poor vul_pdisabled vul_mdisabled vul_medcial', 'vul_minor vul_poor vul_pdisabled vul_mdisabled vul_medcial', 'vul_minor vul_poor vul_pdisabled vul_mdisabled', 'vul_minor vul_woman vul_old', 'vul_minor vul_sing_male vul_drugs', 'vul_drugs vul_old vul_special', 'vul_sing_female vul_old vul_pdisabled vul_medcial vul_special', 'vul_sing_male vul_sing_female vul_old vul_pdisabled vul_medcial vul_special', 'vul_ill vul_medcial other', 'vul_poor vul_ochildren', 'vul_minor vul_old vul_special', 'vul_sing_female vul_pdisabled vul_ochildren', 'vul_minor vul_sing_female vul_poor', 'vul_woman vul_plw vul_old vul_pdisabled', 'vul_sing_female vul_old vul_pdisabled vul_mdisabled', 'vul_minor vul_woman vul_pdisabled vul_mdisabled vul_medcial', 'vul_old vul_medcial vul_special', 'vul_minor vul_old vul_ochildren', 'vul_minor vul_old vul_medcial', 'vul_plw vul_pdisabled vul_medcial', 'vul_minor vul_old vul_medcial vul_special', 'vul_poor vul_medcial vul_special', 'vul_poor vul_plw vul_pdisabled vul_medcial', 'vul_minor vul_plw vul_pdisabled vul_mdisabled', 'vul_minor vul_ill vul_pdisabled vul_mdisabled', 'vul_minor vul_ill vul_pdisabled', 'vul_ill vul_poor vul_pdisabled', 'vul_minor vul_sing_female vul_pdisabled', 'vul_pdisabled vul_special vul_ochildren', 'vul_minor vul_sing_female vul_ochildren', 'vul_sing_female vul_special', 'vul_sing_female vul_pdisabled vul_special', 'vul_plw vul_medcial vul_special', 'vul_minor vul_pdisabled vul_mdisabled vul_medcial', 'vul_minor vul_ill vul_pdisabled vul_mdisabled vul_medcial', 'vul_sing_female vul_ill vul_plw vul_medcial vul_special', 'vul_poor other', 'vul_ill vul_ochildren', 'vul_plw vul_medcial vul_ochildren', 'vul_plw other', 'vul_sing_male vul_plw vul_drugs vul_pdisabled', 'vul_woman vul_sing_female vul_drugs vul_old vul_pdisabled', 'vul_sing_female vul_plw vul_pdisabled vul_mdisabled', 'vul_sing_male vul_sing_female vul_old vul_pdisabled vul_medcial', 'vul_minor vul_poor vul_drugs', 'vul_ill vul_medcial vul_special', 'vul_woman vul_pdisabled vul_medcial vul_special', 'vul_minor vul_woman vul_old vul_pdisabled vul_medcial vul_special', 'vul_ill vul_drugs', 'vul_minor vul_sing_male vul_sing_female vul_pdisabled vul_mdisabled', 'vul_woman vul_sing_male vul_sing_female', 'vul_woman other', 'vul_poor vul_old vul_pdisabled', 'vul_minor vul_sing_female vul_pdisabled vul_mdisabled vul_medcial', 'vul_sing_female vul_drugs vul_pdisabled', 'vul_minor vul_sing_female vul_mdisabled', 'vul_sing_male vul_poor vul_old', 'vul_minor vul_poor other', 'vul_minor vul_poor vul_ochildren', 'vul_old vul_mdisabled vul_special', 'vul_sing_female vul_poor vul_pdisabled vul_medcial', 'vul_sing_male vul_sing_female vul_old vul_pdisabled vul_mdisabled vul_medcial', 'vul_minor vul_poor vul_pdisabled', 'vul_old vul_mdisabled vul_medcial vul_special', 'vul_old vul_pdisabled vul_mdisabled vul_medcial vul_special', 'vul_minor vul_sing_male vul_special', 'vul_woman vul_ill vul_pdisabled vul_mdisabled', 'vul_woman vul_ill vul_pdisabled vul_medcial', 'vul_sing_female vul_plw vul_pdisabled vul_mdisabled vul_medcial', 'vul_minor vul_sing_female vul_mdisabled vul_special', 'vul_woman vul_sing_female vul_mdisabled vul_medcial vul_special', 'vul_sing_male vul_poor vul_medcial', 'vul_sing_male vul_poor vul_mdisabled', 'vul_woman vul_pdisabled', 'vul_poor vul_medcial', 'vul_sing_male vul_sing_female vul_poor vul_pdisabled', 'vul_woman vul_medcial vul_special', 'vul_drugs vul_old vul_medcial vul_special', 'vul_sing_male vul_ill vul_pdisabled vul_mdisabled vul_medcial', 'vul_minor vul_poor vul_plw vul_drugs', 'vul_minor vul_ill vul_poor vul_drugs', 'vul_minor vul_woman vul_poor', 'vul_medcial vul_special other', 'vul_woman vul_ill vul_poor vul_old', 'vul_old vul_pdisabled vul_special', 'vul_poor vul_pdisabled vul_medcial', 'vul_poor vul_special', 'vul_sing_female vul_poor vul_plw vul_pdisabled', 'vul_minor vul_plw vul_medcial', 'vul_woman vul_poor vul_pdisabled vul_mdisabled vul_medcial', 'vul_woman vul_mdisabled vul_medcial', 'vul_sing_male vul_poor vul_drugs vul_pdisabled', 'vul_ill vul_old vul_pdisabled vul_medcial vul_special', 'vul_ill vul_pdisabled vul_mdisabled vul_medcial vul_special', 'vul_minor vul_poor vul_mdisabled vul_medcial', 'vul_ochildren other', 'vul_sing_female vul_old vul_pdisabled', 'vul_sing_male vul_poor vul_pdisabled vul_mdisabled vul_medcial vul_special', 'vul_sing_female vul_old vul_pdisabled vul_ochildren', 'vul_plw vul_old vul_mdisabled', 'vul_sing_male vul_sing_female vul_special', 'vul_sing_female vul_plw vul_pdisabled', 'vul_poor vul_old vul_ochildren', 'vul_sing_female vul_mdisabled vul_medcial', 'vul_sing_female vul_old vul_mdisabled vul_medcial', 'vul_sing_male vul_old vul_pdisabled', 'vul_woman vul_poor vul_pdisabled vul_medcial', 'vul_ill vul_pdisabled vul_medcial vul_special', 'vul_minor vul_poor vul_special', 'vul_sing_female vul_old vul_mdisabled', 'vul_minor vul_woman vul_sing_female vul_mdisabled vul_medcial', 'vul_sing_female vul_poor vul_drugs vul_pdisabled', 'vul_sing_male vul_poor vul_old vul_mdisabled', 'vul_plw vul_old vul_special', 'vul_minor vul_ill vul_plw', 'vul_pdisabled vul_medcial vul_ochildren', 'vul_sing_male vul_poor vul_old vul_pdisabled', 'vul_sing_female vul_ill vul_poor vul_pdisabled', 'vul_plw vul_drugs vul_pdisabled vul_medcial', 'vul_minor vul_sing_male vul_ill vul_pdisabled', 'vul_poor vul_plw vul_medcial', 'vul_sing_male vul_sing_female vul_medcial vul_special', 'vul_minor vul_sing_male vul_pdisabled vul_medcial', 'vul_sing_female vul_plw vul_old vul_pdisabled vul_medcial', 'vul_sing_female vul_plw vul_old vul_pdisabled', 'vul_old vul_pdisabled vul_mdisabled vul_special', 'vul_sing_female vul_poor vul_plw', 'vul_poor vul_old vul_pdisabled vul_mdisabled', 'vul_woman vul_sing_female vul_poor vul_medcial vul_special', 'vul_minor vul_woman vul_drugs vul_pdisabled vul_mdisabled vul_medcial', 'vul_ill vul_plw vul_old', 'vul_minor vul_woman vul_plw vul_pdisabled vul_mdisabled vul_medcial', 'vul_minor vul_woman vul_mdisabled vul_medcial', 'vul_minor vul_sing_male vul_poor', 'vul_woman vul_sing_female vul_ill vul_poor', 'vul_minor vul_sing_female vul_ill vul_poor', 'vul_minor vul_ill vul_drugs', 'vul_ill vul_poor vul_drugs', 'vul_minor vul_ill vul_poor vul_plw', 'vul_pdisabled other', 'vul_ill vul_poor vul_drugs vul_mdisabled', 'vul_poor vul_old vul_special', 'vul_ill vul_special']

 ##### 8. Stereotypes

In [73]:
df_stereotypes = df.loc[:, 'j_stereotypes/j01':'j_stereotypes/j0/stigma_thieves']

In [74]:
df_stereotypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 30 columns):
j_stereotypes/j01                     6072 non-null object
j_stereotypes/j02                     6072 non-null object
j_stereotypes/j02/source_own          6072 non-null float64
j_stereotypes/j02/source_fam          6072 non-null float64
j_stereotypes/j02/source_neigh        6072 non-null float64
j_stereotypes/j02/source_elders       6072 non-null float64
j_stereotypes/j02/source_officials    6072 non-null float64
j_stereotypes/j02/source_radio        6072 non-null float64
j_stereotypes/j02/source_tv           6072 non-null float64
j_stereotypes/j02/source_paper        6072 non-null float64
j_stereotypes/j02/source_internet     6072 non-null float64
j_stereotypes/j02/other               6072 non-null float64
j_stereotypes/j02_other               624 non-null object
j_stereotypes/j03                     6072 non-null object
j_stereotypes/j03/source_own          6072 non-null float64
j_stereotypes/j03/source_fam          6072 non-null float64
j_stereotypes/j03/source_neigh        6072 non-null float64
j_stereotypes/j03/source_elders       6072 non-null float64
j_stereotypes/j03/source_officials    6072 non-null float64
j_stereotypes/j03/source_radio        6072 non-null float64
j_stereotypes/j03/source_tv           6072 non-null float64
j_stereotypes/j03/source_paper        6072 non-null float64
j_stereotypes/j03/source_internet     6072 non-null float64
j_stereotypes/j03/other               6072 non-null float64
j_stereotypes/j03_other               549 non-null object
j_stereotypes/j0                      4226 non-null object
j_stereotypes/j0/stigma_pasht         4226 non-null float64
j_stereotypes/j0/stigma_taliban       4226 non-null float64
j_stereotypes/j0/stigma_same          4226 non-null float64
j_stereotypes/j0/stigma_thieves       4226 non-null float64
dtypes: float64(24), object(6)
memory usage: 2.6+ MB

In [75]:
def make_col_list(df, value):
    list_take = []
    for col in df.columns:
        col_val = df[col].notnull().sum()
        if col_val >= value:
            list_take.append(col)
        else:
            continue
    return list_take

In [76]:
list_ster = make_col_list(df_stereotypes, 1000)

In [77]:
list_ster

['j_stereotypes/j01',
 'j_stereotypes/j02',
 'j_stereotypes/j02/source_own',
 'j_stereotypes/j02/source_fam',
 'j_stereotypes/j02/source_neigh',
 'j_stereotypes/j02/source_elders',
 'j_stereotypes/j02/source_officials',
 'j_stereotypes/j02/source_radio',
 'j_stereotypes/j02/source_tv',
 'j_stereotypes/j02/source_paper',
 'j_stereotypes/j02/source_internet',
 'j_stereotypes/j02/other',
 'j_stereotypes/j03',
 'j_stereotypes/j03/source_own',
 'j_stereotypes/j03/source_fam',
 'j_stereotypes/j03/source_neigh',
 'j_stereotypes/j03/source_elders',
 'j_stereotypes/j03/source_officials',
 'j_stereotypes/j03/source_radio',
 'j_stereotypes/j03/source_tv',
 'j_stereotypes/j03/source_paper',
 'j_stereotypes/j03/source_internet',
 'j_stereotypes/j03/other',
 'j_stereotypes/j0',
 'j_stereotypes/j0/stigma_pasht',
 'j_stereotypes/j0/stigma_taliban',
 'j_stereotypes/j0/stigma_same',
 'j_stereotypes/j0/stigma_thieves']

In [78]:
df_stereotypes = df_stereotypes.loc[:,['j_stereotypes/j01', 'j_stereotypes/j02', 'j_stereotypes/j03', 'j_stereotypes/j0']]

In [79]:
df_stereotypes.fillna('no_inf', inplace = True)

In [80]:
df_stereotypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 4 columns):
j_stereotypes/j01    11260 non-null object
j_stereotypes/j02    11260 non-null object
j_stereotypes/j03    11260 non-null object
j_stereotypes/j0     11260 non-null object
dtypes: object(4)
memory usage: 352.0+ KB

In [81]:
#checking that everything looks good
for column in df_stereotypes.columns:
    print(column, df_stereotypes[column].unique().tolist())

j_stereotypes/j01 ['idp_host', 'idp_idp', 'idp_comm', 'no_inf']
j_stereotypes/j02 ['other', 'source_neigh', 'source_own', 'source_radio source_tv', 'source_elders source_radio source_tv', 'source_fam', 'source_tv', 'source_elders', 'source_own source_neigh source_tv', 'source_fam source_neigh', 'source_neigh source_elders', 'source_fam source_neigh source_tv', 'source_elders source_tv', 'source_officials source_tv', 'source_fam source_neigh source_elders', 'source_own source_fam source_elders', 'source_own source_neigh', 'source_fam source_elders', 'source_own source_paper', 'source_paper source_internet', 'source_neigh source_elders source_officials', 'source_fam source_officials', 'source_own source_neigh source_officials', 'source_own source_fam source_neigh', 'source_own source_fam source_neigh source_elders source_tv', 'source_fam source_elders source_officials', 'source_fam source_neigh source_elders source_officials', 'source_own source_fam source_neigh source_elders', 'source_own source_fam source_neigh source_officials', 'source_own source_fam source_neigh source_elders source_officials', 'source_radio source_tv source_paper', 'source_fam source_elders source_radio source_tv', 'source_fam source_tv', 'source_own source_fam source_neigh source_tv', 'source_officials source_radio source_tv', 'source_neigh source_elders source_tv', 'source_tv source_internet', 'source_neigh source_tv', 'source_elders source_radio source_internet', 'source_own source_elders', 'source_neigh source_officials', 'source_elders source_officials', 'source_neigh source_elders source_tv source_paper', 'source_own source_fam source_neigh source_officials source_tv', 'source_neigh source_elders source_officials source_radio', 'source_elders source_officials source_tv', 'source_officials', 'source_neigh source_elders source_officials source_tv source_paper', 'source_neigh source_officials source_tv', 'source_fam source_neigh source_radio', 'source_own source_fam', 'source_own source_officials', 'source_elders source_internet', 'source_own source_neigh source_elders', 'source_fam source_neigh source_officials', 'source_own source_fam source_elders source_officials', 'source_own source_fam source_elders source_radio', 'source_elders source_radio', 'source_own source_tv', 'source_own source_fam source_tv', 'source_own source_neigh source_radio', 'source_tv source_paper', 'source_radio', 'source_own source_radio', 'source_own source_fam source_neigh source_elders source_officials source_radio source_tv', 'source_own source_neigh source_elders source_tv', 'source_own source_neigh source_radio source_tv', 'source_fam source_neigh source_elders source_tv', 'source_own source_neigh source_elders source_radio', 'source_own source_fam source_neigh source_radio', 'source_own source_fam source_elders source_officials source_radio', 'source_fam source_elders source_tv', 'source_fam source_neigh source_radio source_tv', 'source_own source_elders source_radio', 'source_officials source_radio', 'source_neigh source_radio', 'source_paper', 'source_neigh source_elders source_radio source_paper', 'source_elders source_tv source_internet', 'source_neigh source_radio source_tv', 'source_fam source_officials source_radio', 'source_own source_elders source_tv', 'source_own source_neigh source_officials source_radio', 'source_elders source_officials source_radio source_tv source_paper', 'source_elders source_officials source_radio source_tv', 'source_own source_neigh source_officials source_tv', 'source_fam source_elders source_radio', 'source_radio source_tv source_internet', 'source_fam source_neigh source_paper', 'source_elders source_officials source_paper', 'source_neigh source_elders source_paper', 'source_neigh source_elders source_radio source_tv', 'source_fam source_neigh source_elders source_officials source_radio source_tv', 'source_fam source_elders source_officials source_radio source_tv', 'source_own source_fam source_neigh source_elders source_radio source_tv', 'source_own source_radio source_tv', 'source_radio source_tv source_paper source_internet', 'source_neigh source_tv source_paper', 'source_neigh source_officials source_radio', 'no_inf', 'source_elders source_tv source_paper', 'source_elders source_officials source_radio', 'source_neigh source_elders source_radio', 'source_own source_officials source_tv', 'source_fam source_officials source_tv', 'source_fam source_tv source_paper', 'source_elders source_paper', 'source_own source_elders source_officials source_radio', 'source_fam source_neigh source_officials source_tv', 'source_own source_fam source_officials source_radio', 'source_neigh source_officials source_radio source_tv', 'source_elders source_officials source_radio source_paper', 'source_neigh source_elders source_officials source_tv', 'source_fam source_radio source_tv', 'source_neigh source_paper', 'source_fam source_radio', 'source_neigh source_elders source_officials source_radio source_tv', 'source_own source_neigh source_tv source_internet', 'source_fam source_neigh source_elders source_tv source_paper', 'source_own source_elders source_officials', 'source_own source_radio source_tv source_internet', 'source_fam source_neigh source_elders source_tv source_internet', 'source_fam source_neigh source_elders source_radio', 'source_own source_elders source_officials source_tv', 'source_neigh source_officials source_radio source_paper', 'source_fam source_neigh source_elders source_tv source_paper source_internet', 'source_fam source_elders source_officials source_radio', 'source_own source_neigh source_elders source_officials', 'source_fam source_neigh source_elders source_officials source_radio', 'source_fam source_elders source_officials source_tv', 'source_fam source_neigh source_officials source_radio', 'source_fam source_neigh source_elders source_radio source_paper', 'source_neigh source_officials source_tv source_paper', 'source_own source_neigh source_paper', 'source_own source_fam source_officials', 'source_fam source_neigh source_officials source_radio source_paper', 'source_fam source_neigh source_officials source_radio source_tv source_paper', 'source_fam source_neigh source_tv source_paper', 'source_fam source_neigh source_elders source_radio source_tv', 'source_fam source_neigh source_elders source_officials source_tv', 'source_own source_fam source_radio', 'source_officials source_tv source_paper', 'source_neigh source_officials source_paper', 'source_own source_fam source_paper', 'source_fam source_neigh source_radio source_tv source_paper', 'source_own source_fam source_neigh source_radio source_tv']
j_stereotypes/j03 ['other', 'source_neigh', 'source_own', 'source_tv', 'source_radio source_tv', 'source_own source_tv', 'source_own source_fam source_tv', 'source_elders source_tv', 'source_elders', 'source_tv source_paper', 'source_neigh source_radio source_internet', 'source_neigh source_radio', 'source_neigh source_elders', 'source_fam source_neigh source_elders', 'source_own source_neigh source_officials', 'source_own source_neigh', 'source_internet', 'source_fam source_officials', 'source_fam source_elders', 'source_officials source_radio source_tv', 'source_neigh source_tv', 'source_neigh source_elders source_radio source_tv source_paper', 'source_own source_neigh source_tv', 'source_own source_fam source_neigh', 'source_fam source_neigh source_elders source_radio', 'source_neigh source_elders source_officials', 'source_own source_fam source_elders source_officials', 'source_own source_elders', 'source_own source_fam source_neigh source_officials', 'source_radio source_tv source_paper', 'source_neigh source_radio source_tv', 'source_fam source_tv', 'source_elders source_officials source_radio', 'source_officials source_tv', 'source_neigh source_elders source_tv', 'source_fam source_elders source_tv', 'source_neigh source_elders source_radio', 'source_elders source_officials source_tv', 'source_own source_elders source_tv', 'source_fam source_neigh source_tv', 'source_paper', 'source_fam source_radio', 'source_radio', 'source_neigh source_tv source_paper', 'source_fam source_tv source_paper', 'source_elders source_officials', 'source_elders source_radio', 'source_officials', 'source_own source_fam source_neigh source_tv', 'source_own source_fam source_neigh source_elders', 'source_own source_fam source_neigh source_elders source_officials', 'source_own source_fam source_neigh source_elders source_tv', 'source_own source_fam source_elders source_tv', 'source_neigh source_elders source_officials source_radio', 'source_own source_fam', 'source_fam source_neigh', 'source_fam', 'source_fam source_neigh source_officials', 'source_neigh source_paper', 'source_neigh source_officials', 'source_fam source_paper', 'source_fam source_neigh source_elders source_tv', 'source_fam source_neigh source_radio source_tv', 'source_own source_officials', 'source_neigh source_elders source_radio source_tv', 'source_fam source_officials source_radio', 'source_officials source_radio', 'source_own source_fam source_neigh source_radio source_tv', 'source_elders source_radio source_tv', 'source_own source_fam source_neigh source_officials source_radio source_tv', 'source_neigh source_elders source_officials source_tv', 'source_fam source_neigh source_officials source_tv', 'source_neigh source_officials source_tv', 'source_own source_neigh source_radio source_tv', 'source_own source_neigh source_elders source_officials', 'source_elders source_officials source_radio source_tv', 'source_own source_neigh source_elders source_radio', 'source_fam source_elders source_officials', 'source_fam source_neigh source_elders source_radio source_tv', 'source_fam source_officials source_tv', 'source_fam source_elders source_radio source_tv', 'source_radio source_paper', 'source_own source_fam source_neigh source_elders source_officials source_radio source_tv', 'source_fam source_neigh source_elders source_officials source_radio source_tv', 'source_neigh source_elders source_officials source_radio source_tv', 'source_own source_radio', 'source_neigh source_officials source_radio', 'source_own source_radio source_tv', 'source_fam source_neigh source_internet', 'source_fam source_radio source_tv', 'source_fam source_neigh source_officials source_radio source_tv', 'source_fam source_neigh source_elders source_officials source_radio', 'source_own source_fam source_neigh source_elders source_radio', 'source_neigh source_officials source_radio source_tv', 'source_fam source_elders source_officials source_tv', 'source_fam source_neigh source_elders source_officials', 'source_radio source_tv source_internet', 'source_fam source_neigh source_elders source_paper', 'source_own source_officials source_radio', 'source_tv source_internet', 'source_neigh source_officials source_tv source_paper', 'source_fam source_elders source_radio', 'source_fam source_elders source_officials source_radio', 'source_own source_neigh source_elders', 'no_inf', 'source_elders source_tv source_paper', 'source_own source_elders source_radio', 'source_fam source_neigh source_elders source_tv source_paper source_internet', 'source_elders source_paper', 'source_fam source_neigh source_paper', 'source_fam source_neigh source_elders source_officials source_tv', 'source_own source_fam source_elders', 'source_elders source_radio source_paper', 'source_officials source_radio source_paper', 'source_neigh source_elders source_officials source_radio source_paper', 'source_fam source_neigh source_radio', 'source_fam source_neigh source_elders source_tv source_paper', 'source_fam source_neigh source_elders source_radio source_tv source_internet', 'source_own source_tv source_paper', 'source_fam source_neigh source_officials source_radio', 'source_officials source_tv source_paper', 'source_fam source_neigh source_elders source_tv source_internet', 'source_own source_elders source_officials', 'source_own source_elders source_officials source_radio', 'source_elders source_officials source_paper', 'source_elders source_radio source_tv source_paper', 'source_neigh source_elders source_radio source_paper', 'source_fam source_neigh source_elders source_radio source_tv source_paper source_internet', 'source_own source_internet', 'source_officials source_paper', 'source_neigh source_elders source_radio source_tv source_internet', 'source_own source_paper', 'source_own source_fam source_paper', 'source_own source_fam source_officials']
j_stereotypes/j0 ['stigma_pasht', 'stigma_same', 'no_inf', 'stigma_taliban', 'stigma_taliban stigma_thieves', 'stigma_pasht stigma_same', 'stigma_thieves', 'stigma_pasht stigma_taliban', 'stigma_taliban stigma_same', 'stigma_pasht stigma_thieves', 'stigma_pasht stigma_taliban stigma_same', 'stigma_pasht stigma_taliban stigma_thieves', 'stigma_pasht stigma_same stigma_thieves', 'stigma_same stigma_thieves']

##### 9. Interest to participate in the program

In [82]:
#slice interest section from main dataframe
df.loc[:, 'k_interest/k01':'k_interest/k_participate/k05/ben_men'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 17 columns):
k_interest/k01                                11260 non-null object
k_interest/k_participate/k_note               0 non-null float64
k_interest/k_participate/k_label              0 non-null float64
k_interest/k_participate/k_label/ben_women    0 non-null float64
k_interest/k_participate/k_label/ben_men      0 non-null float64
k_interest/k_participate/k02                  5137 non-null object
k_interest/k_participate/k02/ben_women        5137 non-null float64
k_interest/k_participate/k02/ben_men          5137 non-null float64
k_interest/k_participate/k03                  7306 non-null object
k_interest/k_participate/k03/ben_women        7306 non-null float64
k_interest/k_participate/k03/ben_men          7306 non-null float64
k_interest/k_participate/k04                  8926 non-null object
k_interest/k_participate/k04/ben_women        8926 non-null float64
k_interest/k_participate/k04/ben_men          8926 non-null float64
k_interest/k_participate/k05                  4000 non-null object
k_interest/k_participate/k05/ben_women        4000 non-null float64
k_interest/k_participate/k05/ben_men          4000 non-null float64
dtypes: float64(12), object(5)
memory usage: 1.5+ MB

In [83]:
df_interest = df.loc[:,['k_interest/k01', 'k_interest/k_participate/k02',
       'k_interest/k_participate/k03', 'k_interest/k_participate/k04',
       'k_interest/k_participate/k05']]

In [84]:
df_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 5 columns):
k_interest/k01                  11260 non-null object
k_interest/k_participate/k02    5137 non-null object
k_interest/k_participate/k03    7306 non-null object
k_interest/k_participate/k04    8926 non-null object
k_interest/k_participate/k05    4000 non-null object
dtypes: object(5)
memory usage: 439.9+ KB

In [85]:
df_interest[df_interest['k_interest/k01']=='no'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1311 entries, 5 to 11237
Data columns (total 5 columns):
k_interest/k01                  1311 non-null object
k_interest/k_participate/k02    0 non-null object
k_interest/k_participate/k03    0 non-null object
k_interest/k_participate/k04    0 non-null object
k_interest/k_participate/k05    0 non-null object
dtypes: object(5)
memory usage: 61.5+ KB

In [86]:
# Rows with 'no'(people who doesn't want to participate in the program) 
# have NaN values in other columns as well. 
# Changing those 'Nan' to 'not_participating'. 
df_interest.loc[df_interest['k_interest/k01']=='no',:] = df_interest[df_interest['k_interest/k01']=='no'].fillna('not_participating')

In [87]:
df_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 5 columns):
k_interest/k01                  11260 non-null object
k_interest/k_participate/k02    6448 non-null object
k_interest/k_participate/k03    8617 non-null object
k_interest/k_participate/k04    10237 non-null object
k_interest/k_participate/k05    5311 non-null object
dtypes: object(5)
memory usage: 439.9+ KB

In [88]:
#Dealing with the rest of NaN values.
#In many rows NaN values are only in some columns, 
#which means the interest of participation only in chosen activities. 
#I'll put 'not_interested' instead of 'NaN'. 
df_interest.fillna('not_interested', inplace = True)

In [89]:
# renaming columns
#df_interest_cleaned = df_interest_cleaned.rename(index=str, columns={'k_interest/k01': 'interested', 'k_interest/k_participate/k02': 'int_self_help_learning_groups', 'k_interest/k_participate/k03': 'int_literacy_trainings', 'k_interest/k_participate/k04': 'int_vocational_trainings', 'k_interest/k_participate/k05': 'int_community_led_micro_finance_banks'})

In [90]:
df_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 5 columns):
k_interest/k01                  11260 non-null object
k_interest/k_participate/k02    11260 non-null object
k_interest/k_participate/k03    11260 non-null object
k_interest/k_participate/k04    11260 non-null object
k_interest/k_participate/k05    11260 non-null object
dtypes: object(5)
memory usage: 439.9+ KB

In [91]:
#checking that everything looks good
for column in df_interest.columns:
    print(column, df_interest[column].unique().tolist())

k_interest/k01 ['yes', 'no']
k_interest/k_participate/k02 ['ben_women ben_men', 'ben_women', 'not_participating', 'not_interested', 'ben_men']
k_interest/k_participate/k03 ['ben_women ben_men', 'not_interested', 'not_participating', 'ben_women', 'ben_men']
k_interest/k_participate/k04 ['ben_women ben_men', 'ben_women', 'not_participating', 'not_interested', 'ben_men']
k_interest/k_participate/k05 ['ben_men', 'ben_women', 'ben_women ben_men', 'not_participating', 'not_interested']

##### Joining all the data

In [92]:
df_final = pd.concat([df_basics, df_origin, df_displacement, df_food, df_access, df_assets, df_adaptive, df_stereotypes, df_interest], axis = 1)

In [108]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Columns: 154 entries, City to k_interest/k_participate/k05
dtypes: int64(35), object(119)
memory usage: 13.2+ MB

In [109]:
df_final.to_csv('EWLI_baseline_data_cleaned.csv')